<div class="banks-actives-widget">
    <div class="banks-actives-header">
        <div class="bank-title">Название банка</div>
        <div class="bank-actives">Активы (млн.руб)</div>
        <div class="clear"></div>
    </div>
    <div class="banks-actives-body">
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">1.</div>
            <div class="bank-actives-title">Сбербанк</div>
            <div class="bank-actives-total">17 419 205</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">2.</div>
            <div class="bank-actives-title">Газпромбанк</div>
            <div class="bank-actives-total">3 679 737</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">3.</div>
            <div class="bank-actives-title">ВТБ24</div>
            <div class="bank-actives-total">2 235 018</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">4.</div>
            <div class="bank-actives-title">Банк Москвы</div>
            <div class="bank-actives-total">1 838 974</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">5.</div>
            <div class="bank-actives-title">Россельхозбанк</div>
            <div class="bank-actives-total">1 792 962</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">6.</div>
            <div class="bank-actives-title">Альфа-банк</div>
            <div class="bank-actives-total">1 540 768</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">7.</div>
            <div class="bank-actives-title">ФК Открытие</div>
            <div class="bank-actives-total">1 057 046</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">8.</div>
            <div class="bank-actives-title">Юникредит банк</div>
            <div class="bank-actives-total">870 161</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">9.</div>
            <div class="bank-actives-title">Промсвязьбанк</div>
            <div class="bank-actives-total">819 954</div>
            <div class="clear"></div>
        </div>
        <div class="bank-actives-wrapper">
            <div class="bank-actives-couter">10.</div>
            <div class="bank-actives-title">Райффайзенбанк</div>
            <div class="bank-actives-total">751 868</div>
            <div class="clear"></div>
        </div>
        <div>
            <a href="/banki/" rel="nofollow">Все банки</a>
            <a class="mfo-link" href="/mfo/" rel="nofollow">МФО</a>
        </div>
    </div>
</div>