/*
	link color
	#2b89d2 - default
	#3f98dd - hover
 */

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

body, html {
	overflow-x: hidden;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('fonts/glyphicons-halflings-regular.eot');
	src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.clear, .clearfix {
	clear: both;
}

a, a:hover, a:focus {
	color: #2b89d2;
}

.cz-link {
	border-bottom: 1px solid #2b89d2;
}

.cz-link:hover, .cz-link:focus, .review-link:focus .review-link-text, .review-link:hover .review-link-text {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
}

#footer a {
	border-bottom: none;
	color: #fff;
	text-decoration: none;
}

#footer a:hover, #footer a:focus {
	border-bottom: 1px solid;
	color: #fff;
	text-decoration: none;
}

#footer {
	padding: 35px 20px 25px 20px;
	background-color: #2b3e54;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

body {
	font-family: 'Fira Sans', sans-serif;
	background: url("images/background.jpg");
}

.bold {
	font-weight: 700
}

.header {
	background-color: #fff;
}

.header > div {
	height: 120px;
}

.header-text {
	color: #565656;

	font-size: 18px;
}

.v-center-all {
	display: table !important;
	height: 100%;
	width: 100%;
	table-layout:fixed;
}

.v-center-all div[class*='col-'] {
	display: table-cell !important;
	vertical-align: middle;
	float: none;
}

@media screen and (min-width: 992px ) {
	.v-center {
		display: table !important;
	}

	.v-center div[class*='col-'] {
		display: table-cell !important;
		vertical-align: middle;
		float: none;
	}
}

.navbar-toggle.navbar-left {
	float: left;
	margin-left: 15px;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	text-decoration: underline;
}

.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:focus {
	background-color: #3f98dd;
}

.navbar {
	text-transform: uppercase;
	font-size: 13px;
	background-color: #2b89d2;
	border: none;
}

h1 {
	margin: 0;
}

@media screen and (max-width: 991px) {
	.navbar {
		z-index: 1 !important;
	}
}

@media screen and (min-width: 992px) {
	.navbar-center {
		width: 100%;
		text-align: center;
	}

	.navbar-center > li {
		float: none;
		display: inline-block;
	}
}

.header-divider {
	background-color: #d6d8da;
	height: 32px;
	width: 2px;
	float: right;
}

.city-name {
	border-bottom: 1px dotted;
	text-decoration: none;
	font-size: 13px;
	color: #2b89d2;
}

#cities-a, #cities {
	font-size: 13px;
}

.dropdown-menu-form {
	top: -10% !important;
	right: -1px !important;
}

/*
#cities-select {
	padding: 0px;
	border: none;
	text-align: center;
	height: 34px;
	width: 300px;
}
*/
ul.chosen-results {
	width: 298px;
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 1px solid #ccc;
}

ul.chosen-results li {
	line-height: 1.5em;
	border-bottom: 1px solid #ccc;
	float: left;
	display: inline;
	width: 50%;
}

.geoip-spinner {
	padding-top: 8px;
}

.featured {
	background: url("images/main-page-bg.jpg") no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 400px;
	text-align: center;
}

.mp-navigation {
	padding-top: 55px;
}

.mp-single-wrapper div {
	margin-top: 10px;
}

@media screen and (max-width: 991px) {
	.mp-single-wrapper {
		margin-bottom: 10px;
		height: 175px;
	}

	.featured {
		min-height: 480px;
	}

}

.mp-image-text:focus, .mp-image-text:hover {
	text-decoration: none;
}

.mp-image-text {
	text-decoration: none;
	color: #000;
}

.mp-image-text:hover, .mp-image-text:focus {
	color: #2b89d2;
}

.mp-image-text span {
	border-bottom: 1px dotted;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 10px;
}

.mp-image-text i {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

@media screen and (min-width: 768px) {
	.mp-navigation div:nth-child(n+6) {
		padding-top: 30px;
	}
}

.cz-block {
	border-bottom: 5px solid #2b89d2;
	border-radius: 4px;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 20px;
}

.products, .cz-block-white, .type-page, .product-info {
	border-radius: 4px;
	background-color: #fff;
	padding: 15px 10px;
	margin-bottom: 20px;
}

.not-found {
	background-color: #fffce7;
}

.featured-desc {
	text-align: center;
	padding: 40px 20px 50px 20px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.featured-desc h1 {
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-size: 26px;
	margin: 0px;
}

.bank-rating-first-row {
	text-align: center;
	padding-bottom: 10px;
}

.bank-rating-first-row > div {
	padding-left: 10px;
	padding-right: 0px;
}

.bank-rating-widget {
	padding: 20px 8px 55px 15px;
	font-size: 13px;
	height: 480px;
}

.rating-bank-title {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.rating-mfo-title {
	color: #2b89d2;
	border-bottom: 1px solid #2b89d2;
}

.rating-mfo-title:hover, .rating-mfo-title:focus {
	text-decoration: none;
}

.bank-rating-filled {
	background-color: #426795;
	color: #fff;
	padding: 5px 5px 5px 10px;
}

.cz-ceil {
	padding: 7px 0 7px 4px;
}

.cz-left {
	float: left;
}

.cz-right {
	float: right;
}

.br-outer-first {
	width: 55%;
	margin-right: 1%;
	margin-bottom: 3px;
}

.br-outer-second {
	width: 44%;
	margin-bottom: 3px;
}

.br-inner-first {
	width: 10%;
	margin-right: 1%;
	text-align: center;
}

.br-inner-second {
	width: 44%;
	margin-right: 1%;
	padding-left: 10px;
}

.br-inner-third {
	width: 44%;
	padding-left: 15px;
}

.br-row:nth-child(2n+1) .cz-ceil, .product-param-wrapper:nth-child(2n) .cz-ceil {
	background-color: #efefef;
}

.credit-calculator-widget {
	height: 480px;
	background: url("images/credit-calculator-background.png") no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: none;
	padding: 25px;
	color: #fff;
}

.cc-title {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 25px;
	font-weight: bold;
}

.cc-icon {
	padding-left: 20px;
	background: url("images/calc-icon.png") no-repeat center center;
}

.cc-title-row {
	margin-left: 0px;
	margin-bottom: 20px;
}

.cc-submit {
	text-align: center;
	margin-top: 25px;
}

.cc-submit input {
	width: 70%;
	padding: 10px;
	text-transform: uppercase;
	color: #2b89d2;
	font-weight: bold;
	font-size: 15px;
}

.cc-submit input:hover, .cc-submit input:focus {
	color: #2b89d2;
}

.cz-calculator-result {
	text-align: center;
	margin-top: 40px;
}

.credit-calculator-widget .form-group {
	margin-bottom: 20px;
}

.cz-posts-title {
	font-weight: bold;
}

.cz-posts-widget {
	height: 230px;
	padding: 30px;
}

.cz-posts-widget ul {
	list-style: none;
	padding-left: 10px;
}

.cz-posts-widget li {
	background: url("images/mp-list-image.png") left 11px no-repeat;
	line-height: 27px;
	padding-left: 15px;
}

.cz-news-widget {
	padding: 30px;
	overflow: hidden;
	height: 230px;
}

@media screen and (max-width: 992px) {
	.cz-news-widget {
		height: auto;
	}

	.cz-news-content-row .cz-news-wrapper:first-child {
		margin-bottom: 20px;
	}

	.cz-news-content-row .cz-news-divider:not(:last-child) {
		width: 30%;
		border-bottom: 2px solid #dbdbdb;
		margin-bottom: 20px;
		margin-left: 15px;
	}
}

.cz-news-title {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.cz-news-title-row {
	margin-bottom: 15px;
}

.cz-news-link {
	margin: 2px auto;
}

.cz-news-widget a {
	text-decoration: underline;
}

.cz-news-date {
	text-transform: lowercase;
	font-size: 13px;
	font-weight: 300;
}

.mp-desc-wrapper {
	padding: 45px 30px 70px 30px;
}

.mp-desc-wrapper p {
	margin-bottom: 25px;
}

.mp-h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 30px;
	margin-top: 0px;
}

.mp-list-wrapper {
	background-color: #efefef;
	padding: 20px;
	font-size: 15px;
	margin-bottom: 25px;
	border-radius: 5px;
}

ul.double-column {
	overflow: hidden;
}

ul.double-column li {
	line-height: 1.5em;
	float: left;
	display: inline;
	width: 50%;
}

ul.cz-ul, .seo_content ul, .cz-list ul, .type-page ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.cz-ul li {
	background: url(images/list-style-image.png) no-repeat left 9px;
	padding-left: 10px;
}

.seo_content h2, .cz-list h2, .type-page h2 {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.seo_content, .cz-list, .type-page {
	font-size: 13px;
}

.seo_content ul, .cz-list ul, .type-page ul {
	background-color: #efefef;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.seo_content li, .cz-list li, .type-page li {
	background: url(images/list-style-image.png) no-repeat left 6px;
	padding-left: 15px;
}

.seo_content li:not(:last-child), .cz-list li:not(:last-child), .type-page li:not(:last-child) {
	margin-bottom: 20px;
}

.footer-content {
	font-size: 12px;
}

.footer-menu-wrapper {
	float: left;
	width: 12.5%;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.footer-menu-wrapper {
		float: none;
		width: 100%;
	}
}

.footer-title {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}

@media screen and (max-width: 350px ) {
	.footer-title {
		font-size: 13px;
	}
}

@media screen and (max-width: 991px ) {
	#footer {
		padding: 25px 20px 10px 20px;
	}

	.footer-menu-wrapper {
		margin-bottom: 3px;
	}
}

.chevron {
	background: rgba(0, 0, 0, 0) url("images/chevron.png") no-repeat scroll 0 3px;
	display: inline-block;
	height: 100%;
	width: 9px;
}

.breadcrumb-list {
	font-size: 12px;
}

.breadcrumb {
	background-color: inherit;
	border-radius: 0;
	list-style: outside none none;
	margin-bottom: 0px;
	padding: 0;
}

.navbar {
	margin-top: 15px;
	margin-bottom: 25px;
}

.widget-wrapper {
	padding: 5px 0;
}

.creditznatok-widgets ul {
	margin-bottom: 0;
}

.creditznatok-widgets .menu-item a {
	text-decoration: underline;
}

.creditznatok-widgets .panel-default {
	border-radius: 5px;
	border: none;
}

.creditznatok-widgets .panel-heading .panel-title {
	font-size: 13px;
	font-weight: bold;
}

.creditznatok-widgets .panel-heading:hover, .creditznatok-widgets .panel-heading.collapsed:hover {
	background-color: #3f98dd;
}

.creditznatok-widgets .panel-heading {
	border-radius: 5px;
	border-color: transparent;
	text-transform: uppercase;
	color: #fff;
	background: #426795 url("images/chevron-up.png") right 15px center no-repeat;
	cursor: pointer;
}

.creditznatok-widgets .panel-heading.collapsed {
	background: #2b89d2 url("images/chevron-down.png") right 15px center no-repeat;
}

.creditznatok-widgets .panel-group .panel-heading + .panel-collapse > .panel-body, .creditznatok-widgets .panel-group .panel-heading + .panel-collapse > .list-group {
	border-top: none;
}

.creditznatok-widgets ul.cz-ul li {
	padding: 0 5px 3px 15px;
	background-position: left 8px !important;
}

.creditznatok-widgets .panel-group {
	margin: 0px;
}

.creditznatok-widgets .panel {
	box-shadow: none;
}

.creditznatok-widgets .panel-body {
	padding: 10px 0 0 0;
}

.EMAIL-label {
	display: none;
}

.filters-form {
	background: url("images/main-page-bg.jpg") no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 5px;
	padding: 20px;
}

.cz-subscribe-wrapper {
	padding-left: 5px;
}

.cz-subscribe-wrapper .yikes-mailchimp-form-title {
	margin: 5px 0 15px 0;
	font-size: 18px;
	font-weight: bold;
}

.cz-subscribe-wrapper .yikes-easy-mc-form .yikes-easy-mc-submit-button, .cz-button {
	color: #fff;
	background-color: #2b89d2;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
}

.cz-subscribe-wrapper .yikes-easy-mc-form .yikes-easy-mc-submit-button:hover, .cz-subscribe-wrapper .yikes-easy-mc-form .yikes-easy-mc-submit-button:focus, .cz-button:hover, .cz-button:focus {
	background-color: #3f98dd;
	color: #fff;
}

.cz-subscribe-wrapper .yikes-easy-mc-form .yikes-easy-mc-submit-button {
	font-size: 13px;
	width: 120px;
}

.cz-subscribe-wrapper input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #c4c4c4;
	font-weight: 400;
}

.cz-subscribe-wrapper input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #c4c4c4;
	font-weight: 400;
	opacity: 1;
}

.cz-subscribe-wrapper input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #c4c4c4;
	font-weight: 400;
	opacity: 1;
}

.cz-subscribe-wrapper input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #c4c4c4;
	font-weight: 400;
}

.filters-form input:hover, .filters-form select:hover {
	cursor: pointer;
}

@media screen and (min-width: 992px) {
	.filters-form .form-group {
		margin-bottom: 0px;
	}

	.filters-form .row {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 991px) {
	.filters-form .form-group, .filters-form .form-control {
		margin-bottom: 15px;
	}
}

/*
.filters-sorting {
	background-color: #d5e4ef;
	height: 100px;
	border-radius: 5px;
	padding: 20px;
	margin-top: 15px;
}*/

.breadcrumb-list {
	margin-bottom: 20px;
}

.form-checkbox {
	margin-top: 30px;
}

form.filters {
	margin-bottom: 20px;
}

.post-content h1 {
	font-size: 20px;
	font-weight: bold;
}

.product-info {
	margin-bottom: 25px;
}

label {
	cursor: pointer;
}

.product-param-wrapper {
	line-height: 19px;
	clear: both;
}

.product-param-wrapper div:not(.sprite-product-icons) {
	height: 33px;
	overflow: hidden;
}

.product-image {
	/*border: 1px solid #bfd3e3;*/
}

.product-param-1 {
	width: 8%;
	margin-right: 1%;
	text-align: center;
	padding: 4px 0 4px 0 !important;
	height: 33px;
}

.product-param-2 {
	width: 50%;
}

.product-param-3 {
	width: 41%;
}

.product-title {
	padding-bottom: 15px;
	font-size: 16px;
}

.credit-apply-button-wrapper {
	width: 100%;
}

.credit_apply_button {
	width: 100%;
}

.credit_apply_button.cz-button {
	font-size: 13px;
}

.product-image-link  {
	margin-bottom: 15px;
}

.review-link {
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
	background: #e7edf3;
	border-radius: 4px;
	padding: 7px 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
	width: 100%;
}

.review-link .cz-comments {
	display: block;
	float: left;
	margin-right: 5px;
}

.review-link-text {
	float: left;
	margin-top: 6px;
	border-bottom: 1px solid;
}

.filter-checkbox {
	margin-top: 10px;
}

.single-offers-title {
	font-size: 18px;
	font-weight: bold;
}

.popover.bottom .arrow {
	visibility: hidden;
}

.header .caret {
	color: #2b89d2;
}

.mobile-logo {
	display: none;
}

@media screen and (max-width: 991px) {

	.header {
		padding: 0 10px;
	}

	.container {
		padding: 0px;
	}

	.cz-mobile-nav-button {
		background: url("images/mobile-button.png") no-repeat;
		height: 26px;
		width: 38px;
		float: left;
		margin-top: 25px;
		margin-right: 10px;
	}

	.logo-link-wrapper {
		padding-right: 0px;
	}

	.logo-link {
		float: left;
		margin-top: 28px;
		width: 10px;
	}

	.cc-icon, .desktop-logo, .you-city, .navbar-header {
		display: none;
	}

	.navbar {
		z-index: -1;
		margin-top: 0px;
		clear: both;
		min-height: 0;
	}

	.mobile-logo {
		display: inherit;
	}

	.header > div {
		height: 75px;
	}

	.cities-wrapper {
		margin-top: 20px;
	}

	.footer-content {
		display: none;
	}
}

@media screen and (max-width: 761px) {
	.breadcrumb-list {
		padding-left: 10px;
	}
}

@media screen and (min-width: 425px) {
	.cities-wrapper {
		padding-right: 30px;
	}
}

@media screen and (max-width: 380px) {
	.mobile-logo {
		width: 180px;
	}
}

@media screen and (max-width: 360px) {
	.logo-link {
		margin-top: 30px;
	}

	.mobile-logo {
		width: 145px;
	}
}

.header .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.cz-popover-wrapper {
	z-index: 10;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	width: 320px;
	padding: 10px;
	min-height: 34px;
	position: absolute;
	right: -10px;
	top: -2px;
}

@media screen and (min-width: 992px) {
	.cz-popover-wrapper {
		right: 0px;
	}
}

.cz-popover-wrapper .form-group {
	margin: 0px;
}

.geo input {
	width: 183px;
	float: left;
	padding: 6px 0px 6px 2px;
}

.cz-popover-wrapper .city-name {
	float: right;
	display: block;
	margin-top: 6px;
}

.autocomplete-suggestions {
	width: 100% !important;
}

.popover-suggestions {
	font-size: 13px;
}

.popover-suggestions .autocomplete-suggestion:hover, .popover-suggestions .autocomplete-suggestion:focus {
	text-decoration: underline;
}

.popover-suggestions .autocomplete-suggestion {
	width: 49%;
	color: #2b89d2;
	cursor: pointer;
}

.popover-suggestions .autocomplete-suggestion span {
	padding: 5px 5px 5px 7px;
	width: 100%;
	display: block;
}

.popover-suggestions .autocomplete-suggestion .current-suggestion-city {
	background-color: #2b89d2;
	color: #fff;
	border-radius: 5px;
	width: 100%;
	display: block;
}

.popover-suggestions .autocomplete-suggestion:nth-child(odd) {
	float: left;
	margin-right: 2%;
}

.popover-suggestions .autocomplete-suggestion:nth-child(even) {
	float: right;
}

#autocomplete {
	margin-bottom: 10px;
}

#bank-info {
	font-size: 12px;
}

.bold {
	font-weight: bold;
}

.cp-bank-item {
	margin-bottom: 10px;
}

.bank-links a {
	text-decoration: underline;
	padding-right: 5px;
}

.post-tab-wrapper table {
	width: 100%;
}

.post-tab-wrapper tr {
	margin-left: -15px;
	margin-right: -15px;
}

.post-tab-wrapper td {
	width: 50%;
	padding: 10px 15px;
}

.post-tab-wrapper {
	font-size: 13px;
}

.post-tab-wrapper h2 {
	font-weight: bold;
	font-size: 13px;
	margin-top: 10px;
}

.post-tab-wrapper .nav {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.post-tab-wrapper .nav-tabs > li.active > a, .post-tab-wrapper .nav-tabs > li.active > a:hover, .post-tab-wrapper .nav-tabs > li.active > a:focus {
	color: #777777;
	background-color: #fff;
}

.post-tab-wrapper .nav-tabs > li > a:hover {
	background-color: #3f98dd;
}

.post-tab-wrapper .nav-tabs > li > a {
	color: #fff;
	background-color: #2b89d2;
}

@media screen and (max-width: 768px) {
	.nav-tabs > li {
		margin-bottom: 5px;
	}
}

@media screen and (min-width: 768px) {

	.post-tab-wrapper .nav-tabs > li {
		height: 45px;
	}

	.post-tab-wrapper .nav-tabs > li > a, .post-tab-wrapper .nav-tabs > li > a > div {
		height: 100%;
		display: table;
		padding: 0 10px;
	}

	.tabs-count-1 li {
		max-width: 100%;
	}

	.tabs-count-2 li {
		max-width: 50%;
	}

	.tabs-count-3 li {
		max-width: 33.333%;
	}

	.tabs-count-4 li {
		max-width: 25%;
	}

	.tabs-count-5 li {
		max-width: 20%;
	}

	.post-tab-wrapper .nav-tabs > li > a span {
		display: table-cell;
		vertical-align: middle;
	}
}

.post-tab-wrapper .params-row:nth-child(2n+1), .post-tab-wrapper tr:nth-child(2n+1) {
	background-color: #efefef;
}

.params-row {
	padding: 5px 10px;
	width: 100%;
}

.params-row .v-center {
	width: 100%;
}

.sprite-product-icons {
	padding: 0 !important;
}

.main-page-sprite i {
	background: url(images/sprite-main-page.png) no-repeat;
	display: inline-block;
	height: 106px;
	width: 106px;
	border: 3px solid transparent;
}

.main-page-sprite .mp-image-text:hover i, .main-page-sprite .mp-image-text:focus i {
	border: 3px solid #fff;
}

i.credit-card {
	background-position: -6px -23px;
}

i.credit {
	background-position: -114px -23px;
}

i.mikrozaimy {
	background-position: -219px -23px;
}

i.ipoteka {
	background-position: -324px -23px;
}

i.vklady {
	background-position: -429px -23px;
}

i.avtokredity {
	background-position: -534px -23px;
}

i.credit-dlya-business {
	background-position: -639px -23px;
}

i.debetovye-karty {
	background-position: -744px -23px;
}

i.kreditnaya-istoriya {
	background-position: -849px -23px;
}

.sprite-product-icons i {
	background: url(images/sprite-product-icons.png) no-repeat;
	display: inline-block;
	margin-right: 5px;
	height: 26px;
	width: 25px;
	margin-top: 2px;
}

.sprite-product-icons i.cz-card {
	background-position: -594px -10px;
	width: 32px;
}

.sprite-product-icons i.cz-bank {
	background-position: -542px -10px;
	width: 26px;
}

.sprite-product-icons i.cz-contact {
	background-position: -441px -10px;
	width: 34px;
}

.sprite-product-icons i.cz-webmoney {
	background-position: -319px -10px;
	width: 26px;
}

.sprite-product-icons i.cz-qiwi {
	background-position: -370px -10px;
}

.sprite-product-icons i.cz-yandex {
	background-position: -346px -8px;
	width: 23px;
}

.sprite-product-icons i.cz-leader {
	background-position: -627px -9px;
	width: 28px;
}

.sprite-product-icons i.cz-golden-crown {
	background-position: -396px -10px;
	width: 44px;
}

.sprite-product-icons i.cz-unistream {
	background-position: -476px -10px;
	width: 38px;
}

.sprite-product-icons i.cz-house {
	background-position: -516px -10px;;
}

.sprite-product-icons i.cz-office {
	background-position: -569px -10px;
}

.cz-icon {
	background: url(images/sprite-product-icons.png) no-repeat;
	display: inline-block;
	height: 25px;
	width: 25px;
}

.cz-icon.cz-razmer-zayma {
	background-position: -163px -10px;
}

.cz-icon.cz-percents {
	background-position: -137px -10px;
}

.cz-icon.cz-docs {
	background-position: -111px -10px;
}

.cz-icon.cz-currency {
	background-position: -241px -10px;
}

.cz-icon.cz-calendar {
	background-position: -85px -10px;
}

.cz-icon.cz-card-type {
	background-position: -7px -10px;
}

.cz-icon.cz-age {
	background-position: -59px -10px;
}

.cz-icon.cz-clock {
	background-position: -33px -10px;
}

.cz-icon.cz-min-deposit {
	background-position: -293px -10px;
}

.cz-icon.cz-deposit-insurance {
	background-position: -215px -10px;
}

.cz-icon.cz-early-close {
	background-position: -267px -10px;
}

.cz-icon.cz-comments {
	background-position: -655px -11px;
	height: 28px;
}

.cz-icon.cz-yes {
	background-position: -704px -10px;
}

.cz-icon.cz-no {
	background-position: -680px -10px;
}

@media screen and (max-width: 991px) {
	#bank-info {
		text-align: center;
	}

	#bank-info img {
		margin: 0 auto;
	}
}

.cz-banner {
	margin-bottom: 20px;
	text-align: center;
}

.cz-banner img {
	border-radius: 5px;
	margin: 0 auto;
}

@media screen and (min-width: 991px) {
	.cz-banner img {
		width: 100%;
	}
}

h1.h1-news-title {
	font-size: 18px;
	font-weight: bold;
}

h1.h1-title {
	font-size: 24px;
	font-weight: bold;
}

.news-date {
	text-transform: lowercase;
	font-size: 13px;
	margin-bottom: 10px;
}

.news-link {
	margin-bottom: 5px;
}

.news-link a {
	text-decoration: underline;
}

.news-excerpt {
	margin-bottom: 20px;
}

.news-archive .news-divider:not(:last-child) {
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
}

.cz-divider {
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0;
}

.pagination {
	margin: 10px 0;
}

.pagination-info {
	font-size: 12px;
	margin-bottom: 5px;
}

.page-numbers:not(.dots), .page-numbers:not(.dots):hover, .page-numbers:not(.dots):focus {
	padding: 5px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	background-color: #2b89d2;
	width: 30px;
	border: 1px solid #2b89d2;
	text-align: center;
}

.page-numbers.current, .page-numbers.current:hover, .page-numbers.current:focus {
	color: #000;
	background-color: #fff;
}

.banner-gradient {
	background: #fefcea; /* Для старых браузров */
	background: linear-gradient(to top, #fff, lightblue);
}

.single-news h2 {
	font-size: 14px;
	font-weight: bold;
}

#comments {
	font-size: 18px;
	font-weight: bold;
}

.comment-text {
	font-size: 13px;
	font-style: italic;
}

.comment-meta {
	font-size: 13px;
	font-weight: 300;
}

.required {
	color: red;
}

#recaptcha-submit-btn-area {
	margin-top: 10px;
}

.single-bank-info .row {
	margin-left: 0px;
}

.bank-links {
	margin-bottom: 10px;
}

.bank-param-name div {
	margin-right: 1%;
}

.bank-param-name, .bank-param-value {
	padding: 7px;
}

.bank-param-name, .bank-param-value {
	padding: 7px;
	overflow: auto;
}

.bank-param-name {
	width: 40%;
}

.bank-param-value {
	width: 60%;
}

.bank-info-wrapper .v-center {
	width: 100%;
	height: 100%;
}

.banks-wrapper {
	padding: 10px 0px 10px 15px;
	height: 130px;
}

.bank-info-wrapper .single-bank-info:nth-child(2n+1), .bank-info-wrapper .single-bank-info:nth-child(2n+1) {
	background-color: #efefef;
}

.single-banks #comments {
	display: none;
}

.cz-table {
	display: table !important;
}

.cz-table-cell {
	display: table-cell !important;
	vertical-align: middle;
}

.cz-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ie7 .cz-bank-link img, .ie8 .cz-bank-link img, .ie9 .cz-bank-link img {
	max-width: 130px;
}

.cz-bank-link img {
	vertical-align: middle;
	max-height: 108px;
	max-width: 100%;
	height: auto;
}

.border {
	border: 1px solid;
	border-radius: 4px;
}

.border:focus, .border:hover {
	text-decoration: none !important;
}

.border-bottom {
	border-bottom: 1px solid;
}

.border-bottom:focus, .border-bottom:hover {
	text-decoration: none !important;
}

.bank-fields {
	margin-bottom: 2px;
	font-size: 13px;
}

.bank-list-title-link {
	font-size: 18px;
}

@media screen and (max-width: 768px){
	.bank-list-title-link{
		font-size: 13px;
	}
}

.bank-fields span {
	display: inline-block;
	width: 55px;
}

.banks-wrapper .border {
	border-color: #bfd3e3;
}

#banks-list ul.cz-ul li {
	background-position: left 6px;
	font-size: 12px;
	margin-bottom: 5px;
}

.bank-fields-col {
	padding-right: 0;
}

@media screen and (min-width: 768px) {
	.mfo-wrapper {
		/*width: 50%;
		float: left;*/
		display: inline-block;
		width: 49%;
	}
}

.no-break-word {
	white-space: nowrap;
}

.mfo-letter-desc {
	font-size: 14px;
	margin-right: -20px !important;
	text-align: right;
}

.mfo-single-letter:focus, .mfo-single-letter:hover {
	color: #3f98dd;
}

.mfo-single-letter {
	font-size: 14px;
	font-weight: bold;
	color: #2b89d2;
	text-decoration: underline;
	padding-right: 1.5%;
}

.mfo-by-letter {
	background: url(images/main-page-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.review-link-wrap {
	margin: 0 auto;
	display: table;
	text-align: center;
}

@media screen and (max-width: 1199px) {

	.product-info {
		padding: 0;
	}

}

@media screen and (max-width: 991px) {
	.product-param-wrapper {
		font-size: 11px;
	}

	.product-param-2 {
		width: 44%;
	}

	.product-param-3 {
		width: 47%;
	}

	.product-info {
		padding: 0;
	}

	.product-param-1 {
		margin-right: 0;
		width: 9%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.credit_apply_button.cz-button {
		padding: 10px 5px;
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {
	.post-tab-wrapper .nav-tabs > li {
		width: 50%;
	}

	.post-tab-wrapper .nav-tabs > li > a {
		display: table;
		height: 40px;
		width: 99.99%;
		padding: 0;
		font-size: 12px;
	}

	.post-tab-wrapper .tab-cell {
		display: table-cell;
		vertical-align: middle;
	}

}

.cz-subscribe-wrapper .yikes-easy-mc-form input[type=text], .cz-subscribe-wrapper .yikes-easy-mc-form input[type=url], .cz-subscribe-wrapper .yikes-easy-mc-form input[type=email], .cz-subscribe-wrapper .yikes-easy-mc-form input[type=number], .cz-subscribe-wrapper .yikes-easy-mc-form select {
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-bottom: 0;
}

.cz-subscribe-wrapper .yikes-easy-mc-form input[type=text]:focus, .cz-subscribe-wrapper .yikes-easy-mc-form input[type=email]:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.filters-sorting {
	margin-top: 10px;
}

.form-sort-span {
	font-size: 13px;
}

.sort-row {
	margin-bottom: -5px !important;
}

.seo_groups_child_wrapper {
	margin-bottom: 20px;
}

.seo_groups_child_content {
	padding-right: 5px;
}

.footer-link {
	margin-bottom: 3px;
}

.contacts-link-wrapper {
	float: right;
}