.wofr {
  background-image: url('../images/wofr.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
}

.wofr-webmoney {
  width: 26px;
  height: 27px;
  background-position: -7px -7px;
}

.wofr-yandex {
  width: 23px;
  height: 28px;
  background-position: -47px -7px;
}

.wofr-kiwi {
  width: 25px;
  height: 28px;
  background-position: -84px -7px;
}

.wofr-contact {
  width: 34px;
  height: 25px;
  background-position: -7px -49px;
}

.wofr-unistream {
  width: 40px;
  height: 25px;
  background-position: -55px -49px;
}

.wofr-bank {
  width: 28px;
  height: 28px;
  background-position: -7px -85px;
}

.wofr-office {
  width: 26px;
  height: 26px;
  background-position: -49px -85px;
}

.wofr-card {
  width: 32px;
  height: 24px;
  background-position: -89px -85px;
}

.wofr-golden-crown {
  width: 44px;
  height: 25px;
  background-position: -123px -7px;
}

.wofr-house {
  width: 26px;
  height: 26px;
  background-position: -123px -45px;
}

.wofr-leader {
  width: 28px;
  height: 28px;
  background-position: -135px -85px;
}

.worf-div {
  padding: 0 0 8px 17px;
}