html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0;vertical-align:baseline}
@font-face{font-family:PFDinDisplayPro;src:url(../fonts/pfdindisplaypro-regular.ttf)}
.card{padding:0;font-size:18px;color:#4F4F4F}
.card_image{float:left;width:20%;margin-top:10px}
.card_param{float:left;width:50%;margin-left:10px}
.card_param img{border:0;height:auto;max-width:100%;vertical-align:middle}
.card_param td{border:0;padding:.5em 0 .8em .8em;width:50%}
.card_param table{border:0;width:100%;margin-top:0}
.apply_button{float:left;width:20%;margin:35px 5% 0 0;background-color:#87CEFA;border-radius:5px;font-size:16px;font-family:sans-serif;padding:10px;text-align:center;cursor:pointer}
.apply_button a{color:#fff;target:_blank;cursor:pointer}
.header{float:left;padding:0 0 0 10px;color:#4F4F4F}
.credit{padding:0;font-size:18px;color:#4F4F4F}
.credit_image{float:left;width:20%;margin-top:0}
.credit_param{float:left;width:385px;margin-left:5px}
.credit_param img{border:0;height:auto;max-width:100%;vertical-align:middle}
.credit_param td{border:0;padding:.5em 0 .8em .8em;width:50%}
.credit_param table{border:0;width:100%;margin-top:0}
.main_products_button{cursor:pointer}
.credit_apply_button{float:left;/*width:20%;*/margin:15px 0 0 0;background-color:#87CEFA;border-radius:5px;font-size:16px;font-family:sans-serif;padding:10px;text-align:center;cursor:pointer;color:#fff}
.credit_apply_button a{color:#fff;target:_blank}
.card_image_page{float:left;width:30%}
.card_image_page table{border:0;margin-top:0;margin-left:10px}
.card_image_page td{border:0;padding:1px}
.card_image_page tr{border:0;padding:2px}
.apply_button_page{float:left;background-color:#87CEFA;border-radius:5px;font-size:16px;font-family:sans-serif;padding:10px;text-align:center}
.apply_button_page a{color:#fff;target:_blank}
.main{text-align:center;border:0;font-size:14px;margin-top:70px}
.main table{border:0}
.main td{border:0}
.main td a{color:#4f4f4f;font-size:20px;font-weight:700}
.main td div{color:#4f4f4f;font-size:20px;font-weight:700}
.main td img{margin:15px auto 10px!important}
.main tr{border:0}
.textwidget{background:#fff}
#nav_menu-3{background:url(/wp-content/uploads/icons/bank-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-2{background:url(/wp-content/uploads/icons/creditcard_type-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-5{background:url(/wp-content/uploads/icons/pay_system-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-6{background:url(/wp-content/uploads/icons/bank-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-7{background:url(/wp-content/uploads/2014/07/magicwand-e1407410377212.png) no-repeat;padding:0;border:0}
#nav_menu-8{background:url(/wp-content/uploads/2014/07/magicwand-e1407410377212.png) no-repeat;padding:0;border:0}
#nav_menu-9{background:url(/wp-content/uploads/icons/bank-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-10{background:url(/wp-content/uploads/icons/bank-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-12{background:url(/wp-content/uploads/icons/bank-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-13{background:url(/wp-content/uploads/2014/07/magicwand-e1407410377212.png) no-repeat;padding:0;border:0}
#nav_menu-14{background:url(/wp-content/uploads/2014/07/magicwand-e1407410377212.png) no-repeat;padding:0;border:0}
#nav_menu-15{background:url(/wp-content/uploads/icons/bank-28x28.png) no-repeat;padding:0;border:0}
#nav_menu-16{background:url(/wp-content/uploads/2014/07/magicwand-e1407410377212.png) no-repeat;padding:0;border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
button,input,select,textarea{font-size:100%;overflow:visible;margin:0;vertical-align:baseline;width:auto}
textarea{overflow:auto;vertical-align:text-top}
hr{background:#c7c7c7;border:none;clear:both;color:#c7c7c7;float:none;height:1px;width:100%}
hr.space{background:#fff;color:#fff}
html{height:100%}
body{-moz-font-smoothing:antialiased;-webkit-font-smoothing:antialiased;background:#efefef;color:#555;font-family:Arial,Helvetica,sans-serif;font-size:14px;font-smoothing:antialiased;line-height:1.5em;text-rendering:optimizeLegibility}
p{word-wrap:break-word}
i,em,dfn,cite{font-style:italic}
tt,var,pre,kbd,samp,code{font-family:monospace,serif;font-style:normal}
b,strong{font-weight:700}
pre{-moz-box-sizing:border-box;-moz-border-radius:2px;-moz-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);-webkit-border-radius:2px;-webkit-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);-webkit-box-sizing:border-box;box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);box-sizing:border-box;background:#f4f4f4;border:1px solid #aaa;border-bottom-color:#ccc;border-radius:2px;height:auto;margin:0;outline:none;padding:6px 10px;vertical-align:middle;width:100%;word-wrap:break-word;white-space:pre-wrap}
del{color:#555;text-decoration:line-through}
ins,dfn{border-bottom:1px solid #ccc}
sup,sub,small{font-size:85%}
abbr,acronym{font-size:85%;letter-spacing:.1em;text-transform:uppercase}
a abbr,a acronym{border:none}
dfn[title],abbr[title],acronym[title]{border-bottom:1px solid #ccc;cursor:help}
sup{vertical-align:super}
sub{vertical-align:sub}
.grid{float:left;margin-bottom:2.127659574468%;padding-top:0}
.grid-right{float:right;margin-bottom:2.127659574468%;padding-top:0}
.col-60,.col-140,.col-220,.col-300,.col-380,.col-460,.col-540,.col-620,.col-700,.col-780,.col-860{display:inline;margin-right:2.127659574468%}
.col-60{width:6.382978723404%}
.col-140{width:14.893617021277%}
.col-180{width:19%}
.col-220{width:23.404255319149%}
.col-300{width:31.914893617021%}
.col-380{width:40.425531914894%}
.col-460{width:48.936170212766%}
.col-540{width:57.446808510638%}
.col-620{width:65.957446808511%}
.col-700{width:74.468085106383%}
.col-740{width:81%}
.col-780{width:82.978723404255%}
.col-860{width:91.489361702128%}
.col-940{width:100%}
.fit{margin-left:0!important;margin-right:0!important}
.hidden{visibility:hidden}
.visible{visibility:visible}
.none{display:none}
.hide-desktop{display:none}
.show-desktop{display:block}
img{-ms-interpolation-mode:bicubic;border:0;height:auto;max-width:100%;vertical-align:middle}
.ie8 img{height:auto;width:auto\9}
.ie8 img.size-large{max-width:60%;width:auto}
video{width:100%;max-width:100%;height:auto}
embed,object{max-width:100%}
svg:not(:root){overflow:hidden}
a{color:#06c;font-weight:400;text-decoration:none}
a:hover,a:focus,a:active{color:#444;outline:0;text-decoration:none}
::selection{background:#696969;color:#fff;text-shadow:none}
label{display:inline-block;font-weight:700;padding:2px 0}
legend{padding:2px 5px}
fieldset{border:1px solid #ccc;margin:0 0 1.5em;padding:1em 2em}
select,input[type="text"],input[type="password"],input[type="email"]{-moz-box-sizing:border-box;-moz-border-radius:2px;-webkit-box-sizing:border-box;-webkit-border-radius:2px;-webkit-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);background-color:#fff;box-sizing:border-box;border:1px solid #aaa;border-bottom-color:#ccc;border-radius:2px;cursor:text;margin:0;outline:none;padding:6px 8px;vertical-align:middle;max-width:100%}
select{height:auto;max-width:100%}
area,textarea{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-border-radius:2px;-webkit-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);background-color:#fff;box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.2);box-sizing:border-box;border:1px solid #aaa;border-bottom-color:#ccc;border-radius:2px;height:auto;overflow:auto;margin:0;outline:none;padding:8px 10px;max-width:100%}
map area{padding:0;border:0}
input,select{cursor:pointer}
area:focus,input:focus,textarea:focus{border:1px solid #6cf}
input[type='text'],input[type='password']{cursor:text}
.ie7 area,.ie7 select,.ie7 textarea,.ie7 input[type="text"],.ie7 input[type="password"],.ie7 input[type="email"]{width:96%}
.msie-box{background-color:#f9edbe;border:1px solid #f0c36d;color:#212121;display:block;margin:0 auto;max-width:960px;padding:10px;position:absolute;top:60px;text-align:center;width:100%}
.msie-box a{color:#212121}
th,td,table{border:1px solid #ddd}
table{border-collapse:collapse;width:100%}
ul{list-style-type:none;margin:0;padding:0}
ol{line-height:22px;list-style-position:outside;list-style-type:decimal;margin:0;padding:0}
dt{font-weight:400}
blockquote{background:#f9f9f9;border:none;border-left:4px solid #d6d6d6;margin:20px;overflow:auto;padding:0 0 10px 12px}
blockquote p{font-family:'Georgia','Times New Roman',Times,serif;font-style:italic;font-size:18px;line-height:26px}
h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:700;line-height:1em;word-wrap:break-word;color:#4F4F4F}
h1{font-size:1.875em;margin-bottom:.5em;margin-top:.5em;color:#4F4F4F}
h2{font-size:1.5em;margin-bottom:.75em;margin-top:.75em}
h3{font-size:1.875em;margin-bottom:.857em;margin-top:.857em}
h4{font-size:1.5em;margin-bottom:1em;margin-top:1em}
h5{font-size:1.125em;margin-bottom:1.125em;margin-top:1.125em}
h6{font-size:1em;margin-bottom:1.285em;margin-top:1.285em}
p,dl,pre,form,table,address,blockquote{margin:1.6em 0}
th,td{padding:.8em}
caption{padding-bottom:.8em}
blockquote{padding:0 1em}
blockquote:first-child{margin:.8em 0}
fieldset{margin:1.6em 0;padding:0 1em 1em}
legend{padding-left:.8em;padding-right:.8em}
legend+*{margin-top:1em}
input,textarea{padding:.3em .4em .15em}
select{padding:.1em .2em 0}
option{padding:0 .4em}
dt{margin-bottom:.4em;margin-top:.8em}
ul{list-style-type:none}
ol{list-style-type:decimal}
ul,ol{margin:0 .5em .5em 0;padding-left:0}
li ul,li ol{margin:0}
.form div{margin-bottom:.8em}
#container{margin:0 auto;max-width:960px;padding:0 25px}
#wrapper{-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#fff;border:1px solid #e5e5e5;border-radius:4px;clear:both;margin:20px auto;padding:0 20px 20px;position:relative}
.front-page #wrapper{background-color:transparent;border:none;margin:20px auto -40px;padding:0}
#header{margin:0}
#footer{clear:both;margin:0 auto;max-width:960px;padding:0 25px}
#footer-wrapper{margin:0;padding:0}
#logo{float:left;margin:25px 0 33px}
.site-name{display:block;font-size:2.063em;line-height:1em;padding-top:20px}
.site-name a{color:#333;font-weight:700}
.site-description{color:#afafaf;display:block;font-size:.875em;margin:10px 0}
.header-quote{border-right:1px solid #565656;border-left:1px solid #565656;display:block;float:left;margin:38px 0 38px 63px;padding:0 68px}
.header-quote span{font-family:PFDinDisplayPro;font-size:18px;color:#565656}
@media (max-width:650px) {
	.header-quote{float:none;margin:38px auto 30px}
}
#content{margin-top:40px;margin-bottom:20px}
#content-full{margin-top:40px;margin-bottom:20px}
#content-blog{margin-top:40px;margin-bottom:20px}
#content-images{margin-bottom:20px}
#content-search{margin-bottom:20px;margin-top:20px}
#content-archive{margin-top:40px;margin-bottom:20px}
#content-sitemap{margin-top:40px;margin-bottom:20px}
#content-sitemap a{font-size:12px}
#content .sticky{clear:both}
.page-template-landing-page-php .menu,.page-template-landing-page-php .top-menu,.page-template-landing-page-php .main-nav,.page-template-landing-page-php .footer-menu,.page-template-landing-page-php .sub-header-menu{display:none}
#author-meta{-moz-border-radius:4px;-webkit-border-radius:4px;background:#f9f9f9;border:1px solid #d6d6d6;border-radius:4px;clear:both;display:block;margin:30px 0 40px;padding:10px;overflow:hidden}
#author-meta img{float:left;padding:10px 15px 0 5px}
#author-meta p{margin:0;padding:5px}
#author-meta .about-author{font-weight:700;margin:10px 0 0}
#featured{-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#fff;border:1px solid #e5e5e5;border-radius:4px;padding-bottom:40px;width:99.893617021277%}
#featured p{font-size:18px;font-weight:200;line-height:27px;padding:0 40px;text-align:center}
#featured-image{margin:70px 0 0}
#featured-image h1{font-size:18px;font-weight:200;line-height:27px;padding:0 40px;text-align:center}
#featured-image .fluid-width-video-wrapper{margin-left:-20px}
.featured-image img{margin-top:44px}
.comments-link{font-size:12px}
#cancel-comment-reply-link{color:#900}
.post-data{clear:both;font-size:12px;font-weight:700;margin-top:20px}
.post-data a{color:#111}
.post-entry{clear:both}
.post-meta{clear:both;color:#9f9f9f;font-size:12px;margin-bottom:10px}
.post-edit{clear:both;display:block;font-size:12px;margin:1.5em 0}
.post-search-terms{clear:both}
.read-more{clear:both;font-weight:700}
.attachment-entry{clear:both;text-align:center}
.bbPress .breadcrumb-list{display:none}
.ellipsis{color:#aaa;font-size:18px;margin-left:5px}
.form-allowed-tags{display:none;font-size:10px}
.widget-wrapper{-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#fff;background:#fff;border:1px solid #e5e5e5;border-radius:4px;margin:0 0 20px;padding:10px}
#home_widget_1 .widget-wrapper,#wp_uci_widget{background-color:transparent!important;border:none}
.widget-wrapper h2{font-size:16px;color:#544f4f;font-weight:700}
.widget-wrapper select,.widget-wrapper input[type="text"],.widget-wrapper input[type="password"],.widget-wrapper input[type="email"]{width:75%}
#widgets{margin-top:30%}
#widgets a{display:inline-block;margin:0;padding:0;text-decoration:none}
#widgets form{margin:0}
#widgets ul,#widgets ol{padding:0}
#widgets ul li a{display:inline;text-decoration:none}
#widgets .widget-title img{float:right;height:11px;position:relative;top:4px;width:11px}
#widgets .rss-date{line-height:18px;padding:6px 12px}
#widgets .rssSummary{padding:10px}
#widgets cite{font-style:normal;line-height:18px;padding:6px 12px}
#widgets .tagcloud,#widgets .textwidget{display:block;line-height:1.5em;margin:0;word-wrap:break-word;background:#fff}
#widgets .textwidget a{display:inline}
#widgets ul .children{padding:0 0 0 10px}
#widgets .author{font-weight:700;padding-top:4px}
.widget_archive select,#cat{display:block;margin:0 15px 0 0}
.colophon-widget{background:#fff;min-height:0}
.colophon-widget select,.colophon-widget input[type="text"],.colophon-widget input[type="password"],.colophon-widget input[type="email"]{width:100%}
.top-widget{background:none;border:none;clear:right;float:right;min-height:0;padding:0 3px 0 0;text-align:right;width:45%}
.top-widget ul{padding:0}
.top-widget select,.top-widget input[type="text"],.top-widget input[type="password"],.top-widget input[type="email"]{width:auto}
.top-widget #searchform{margin:0}
.featured-title{font-size:60px;letter-spacing:-1px;margin:0;padding-top:40px;text-align:center}
.featured-subtitle{padding:0 10px;text-align:center}
.widget-title div,.widget-title-home h3{display:block;font-size:16px;font-weight:700;line-height:23px;margin:0;padding:0 0 20px 35px;text-align:left;color:#4F4F4F}
.top-widget .widget-title h3{font-size:14px;padding:0;text-align:right}
.widget-title a{border-bottom:none;padding:0!important}
.title-404{color:#933}
.error404 select,.error404 input[type="text"],.error404 input[type="password"],.error404 input[type="email"]{width:auto}
.screen-reader-text{position:absolute!important;clip:rect(1px,1px,1px,1px)}
.skip-container{display:block;padding:.5em .5em .5em 0;position:relative}
.skip-link{background:#f5f5f5;border:1px solid #d5d5d5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;float:right;font-size:.8125em;margin-left:-100%;padding:.5em;text-transform:uppercase}
.skip-link:hover,.skip-link:active,.skip-link:focus{border:1px solid #666}
.custom-background .site{-webkit-box-shadow:0 -5px 5px 4px #d5d5d5;-moz-box-shadow:0 -5px 5px 4px #d5d5d5;box-shadow:0 -5px 5px 4px #d5d5d5;margin:0 auto}
.top-menu{float:right;margin:10px 0;padding:0}
.top-menu li{display:inline;list-style-type:none}
.top-menu li a{border-left:1px solid #ccc;color:#333;font-size:11px;padding:0 4px 0 8px}
.top-menu > li:first-child > a{border-left:none}
.top-menu li a:hover{color:#333}
.menu{background:#5e5e5e;background:-moz-linear-gradient(top,#5e5e5e 0%,#2e2e2e 50%,#020202 51%,#000 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5e5e5e),color-stop(50%,#2e2e2e),color-stop(51%,#020202),color-stop(100%,#000));background:-webkit-linear-gradient(top,#5e5e5e 0%,#2e2e2e 50%,#020202 51%,#000 100%);background:-o-linear-gradient(top,#5e5e5e 0%,#2e2e2e 50%,#020202 51%,#000 100%);background:-ms-linear-gradient(top,#5e5e5e 0%,#2e2e2e 50%,#020202 51%,#000 100%);background:linear-gradient(to bottom,#5e5e5e 0%,#2e2e2e 50%,#020202 51%,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e',endColorstr='#000000',GradientType=0);clear:both;margin:0 auto;border:1px solid #000;border-radius:4px}
.main-nav{clear:both}
.menu,.menu ul{display:block;list-style-type:none;margin:0;padding:0}
.menu li{border:0;display:block;float:left;margin:0;padding:0;position:relative;z-index:5}
.menu li:hover{white-space:normal;z-index:10000}
.menu li li{float:none}
.menu ul{left:0;position:absolute;top:0;visibility:hidden;z-index:10}
.menu li:hover > ul{top:100%;visibility:visible}
.menu li li:hover > ul{left:100%;top:0}
.menu:after,.menu ul:after{clear:both;content:'.';display:block;height:0;overflow:hidden;visibility:hidden}
.menu,.menu ul{min-height:0}
.menu ul,.menu ul ul{margin:0;padding:0}
.menu ul li a:hover,.menu li li a:hover{color:#484848;text-decoration:none}
.menu ul{margin-top:1px;min-width:15em;width:auto}
.menu a{background-image:url(../images/menu-separator.png);background-repeat:no-repeat;background-position:100% 0;color:#fff;cursor:pointer;display:block;font-size:11.6px;height:45px;line-height:45px;text-transform:uppercase;margin:0;padding:0 15px;position:relative;text-decoration:none;text-shadow:0 -1px 0 #000;white-space:nowrap}
.menu a:hover{background:#8f8f8f;background:-moz-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8f8f8f),color-stop(50%,#5b5b5b),color-stop(51%,#3f3f3f),color-stop(100%,#606060));background:-webkit-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:-o-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:-ms-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:linear-gradient(to bottom,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f8f8f',endColorstr='#606060',GradientType=0);color:#fff}
ul.menu > li:hover{background-color:#363636;color:#fff}
.menu .current_page_item a,.menu .current-menu-item a{background-color:#696969!important}
.front-page .menu .current_page_item a{background:none;background-color:transparent;background-image:none;filter:none}
.menu li li{background:#fff;background-image:none;border:1px solid #e5e5e5;color:#444;filter:none;margin:-1px 0 1px;width:auto}
.menu li li a{background:transparent!important;border:none;color:#444;font-size:12px;font-weight:400;height:auto;height:20px;line-height:20px;padding:5px 10px;text-shadow:none;white-space:nowrap}
.menu li li a:hover{background:#f5f5f5!important;background-image:none;border:none;color:#444;filter:none}
.menu li li:hover{background:#f5f5f5!important;filter:none}
.menu ul > li + li{border-top:0}
.menu li li:hover > ul{left:100%;top:0}
.menu > li:last-child > a{background:none}
.menu > li:last-child > a:hover{background:#8f8f8f;background:-moz-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8f8f8f),color-stop(50%,#5b5b5b),color-stop(51%,#3f3f3f),color-stop(100%,#606060));background:-webkit-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:-o-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:-ms-linear-gradient(top,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);background:linear-gradient(to bottom,#8f8f8f 0%,#5b5b5b 50%,#3f3f3f 51%,#606060 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f8f8f',endColorstr='#606060',GradientType=0);color:#fff}
@media (max-width:1026px) {
	.menu a{padding:0 14px}
}
@media (max-width:920px) {
	.menu a{padding:0 5px;font-size:12px}
}
.menu a#responsive_menu_button{display:none}
.main-nav #responsive_current_menu_item{display:none}
.ie7 .menu ul{background:url(../../core/images/ie7-fix.gif) repeat}
.ie7 .menu li li a{min-width:100%}
.sub-header-menu{background-color:#fff;border:1px solid #e5e5e5;border-top:none;clear:both;margin:0 auto}
.sub-header-menu,.sub-header-menu ul{display:block;list-style-type:none;margin:0;padding:0}
.sub-header-menu li{border:0;display:block;float:left;margin:0;padding:0;position:relative;z-index:5}
.sub-header-menu li:hover{white-space:normal;z-index:10000}
.sub-header-menu li li{float:none}
.sub-header-menu ul{left:0;position:absolute;top:0;visibility:hidden;z-index:10}
.sub-header-menu li:hover > ul{top:100%;visibility:visible}
.sub-header-menu li li:hover > ul{left:100%;top:0}
.sub-header-menu:after,.sub-header-menu ul:after{clear:both;content:'.';display:block;height:0;overflow:hidden;visibility:hidden}
.sub-header-menu,.sub-header-menu ul{min-height:0}
.sub-header-menu ul,.sub-header-menu ul ul{margin:0;padding:0}
.sub-header-menu ul li a:hover,.sub-header-menu li li a:hover{color:#484848;text-decoration:none}
.sub-header-menu ul{margin-top:1px;min-width:15em;width:auto}
.sub-header-menu a{border-left:1px solid #e5e5e5;color:#333;cursor:pointer;display:block;font-size:12px;font-weight:400;height:35px;line-height:35px;margin:0;padding:0 .9em;position:relative;text-decoration:none;text-shadow:none}
.sub-header-menu a:hover{-moz-background-clip:padding-box;-webkit-background-clip:padding-box;background-color:#f9f9f9;background-clip:padding-box}
.sub-header-menu .current_page_item a,.sub-header-menu .current-menu-item a{background-color:#f9f9f9}
.sub-header-menu li li{background:#fff;background-image:none;border:1px solid #e5e5e5;color:#444;filter:none;margin:-1px 0 1px;width:auto}
.sub-header-menu li li a{border:none;color:#444;font-size:12px;font-weight:400;height:auto;height:20px;line-height:20px;padding:5px 10px;text-shadow:none;white-space:nowrap}
.sub-header-menu li li a:hover{background:#f9f9f9;background-image:none;border:none;color:#444;filter:none}
.sub-header-menu ul > li + li{border-top:0}
.sub-header-menu li li:hover > ul{left:100%;top:0}
.sub-header-menu > li:first-child > a{border-left:none}
.sub-header-menu ul.children a,.sub-header-menu .current_page_ancestor,.sub-header-menu .current_page_ancestor ul a{background:none;background-image:none;filter:none}
.ie7 .sub-header-menu ul{background:url(../../core/images/ie7-fix.gif) repeat}
.ie7 .sub-header-menu li li a{min-width:100%}
.footer-menu{margin-left:0;margin-right:0;padding:20px 0 30px;margin-bottom:30px!important;display:block}
.footer-menu > li{display:block;float:left;list-style-type:none;margin:20px 5px 0;width:110px;background-position:22px 0;background-repeat:no-repeat;padding-top:63px;margin-bottom:30px}
@media (max-width:650px) {
	.footer-menu > li{background-position:50% 0!important;margin-top:20px!important}
}
.footer-menu > li > a{font-weight:700!important}
.footer-menu li{margin-top:3px!important}
.footer-menu li a{text-decoration:underline;color:#333;font-size:12px}
.footer-menu li a:hover{text-decoration:none}
.footer-icons{margin:25px 0 20px;display:block}
.footer-icons ul li{display:block;float:left;margin:0 20px}
.navigation{color:#111;display:block;font-size:13px;height:28px;line-height:28px;margin:20px 0;padding:0 5px}
.navigation a{color:#aaa;padding:4px 10px}
.navigation a:hover{color:#111;text-decoration:none}
.navigation .previous{float:left}
.navigation .next{float:right}
.navigation .bracket{font-size:36px}
.pagination{clear:both;display:block;font-size:16px;font-weight:700;margin:10px 0;padding:5px 0}
.pagination a{text-decoration:none}
.breadcrumb-list{font-size:12px}
#commentform{margin:0}
.commentlist{border-bottom:1px solid #e5e5e5;list-style:none;margin:0;padding:0}
.commentlist ol{list-style:decimal}
.commentlist li{-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#fff;border-radius:4px;margin:0}
.commentlist li cite{color:#111;font-size:1.1em;font-style:normal;font-weight:400}
.commentlist li.alt{background:#f9f9f9}
.commentlist .children{list-style:none;margin-left:10px;padding:10px}
.commentlist .avatar{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;float:left;margin-right:10px;padding:0;vertical-align:middle}
.comment-author .says{color:#999}
.comment-body .comment-meta{color:#999;display:inline-block;margin:0;padding:0;text-align:left}
.comment-body .comment-meta a{font-size:11px}
.comment-body{clear:both;padding:10px}
.comment-body p{clear:both}
.pingback,.trackback{list-style:none;margin:20px 0}
.pingback cite,.trackback cite{font-style:normal}
#pings,#comments{text-align:left}
#respond{-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#eaeaea;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eaeaea));background-image:-webkit-linear-gradient(top,#fff,#eaeaea);background-image:-moz-linear-gradient(top,#fff,#eaeaea);background-image:-ms-linear-gradient(top,#fff,#eaeaea);background-image:-o-linear-gradient(top,#fff,#eaeaea);background-image:linear-gradient(top,#fff,#eaeaea);border:1px solid #ccc;border-bottom-color:#aaa;border-radius:4px;clear:both;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eaeaea);margin-top:15px;padding:10px 20px 50px}
#respond label{display:inline}
.reply{margin:10px 0}
.comment-form-url input,.comment-form-email input,.comment-form-author input,.comment-form-comment textarea{display:block;width:100%}
.nocomments{color:#999;font-size:.9em;text-align:center}
.gallery-columns-1 .gallery-item{max-width:600px}
.gallery-columns-2 .gallery-item{max-width:300px}
.gallery-columns-3 .gallery-item{max-width:200px}
.gallery-columns-4 .gallery-item{max-width:150px}
.gallery-columns-5 .gallery-item{max-width:120px}
.gallery-columns-6 .gallery-item{max-width:100px}
.gallery-columns-7 .gallery-item{max-width:85px}
.gallery-columns-8 .gallery-item{max-width:75px}
.gallery-columns-9 .gallery-item{max-width:66px}
.page-template-full-width-page-php .gallery-columns-1 .gallery-item,.page-template-landing-page.php .gallery-columns-1 .gallery-item{max-width:900px}
.page-template-full-width-page-php .gallery-columns-2 .gallery-item,.page-template-landing-page.php .gallery-columns-2 .gallery-item{max-width:450px}
.page-template-full-width-page-php .gallery-columns-3 .gallery-item,.page-template-landing-page.php .gallery-columns-3 .gallery-item{max-width:300px}
.page-template-full-width-page-php .gallery-columns-4 .gallery-item,.page-template-landing-page.php .gallery-columns-4 .gallery-item{max-width:225px}
.page-template-full-width-page-php .gallery-columns-5 .gallery-item,.page-template-landing-page.php .gallery-columns-5.gallery-item{max-width:180px}
.page-template-full-width-page-php .gallery-columns-6 .gallery-item,.page-template-landing-page.php .gallery-columns-6 .gallery-item{max-width:150px}
.page-template-full-width-page-php .gallery-columns-7 .gallery-item,.page-template-landing-page.php .gallery-columns-7 .gallery-item{max-width:125px}
.page-template-full-width-page-php .gallery-columns-8 .gallery-item,.page-template-landing-page.php .gallery-columns-8 .gallery-item{max-width:112.5px}
.page-template-full-width-page-php .gallery-columns-9 .gallery-item,.page-template-landing-page.php .gallery-columns-9 .gallery-item{max-width:100px}
.alignnone{margin:5px 20px 20px 0}
.aligncenter,div.aligncenter{display:block;margin:5px auto 20px}
.alignright{float:right;margin:5px 0 20px 20px}
.alignleft{float:left;margin:5px 20px 20px 0}
.aligncenter{display:block;margin:5px auto}
a img.alignright{float:right;margin:5px 0 20px 20px}
a img.alignnone{margin:5px 20px 20px 0}
a img.alignleft{float:left;margin:5px 20px 20px 0}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#f9f9f9;border:1px solid #f0f0f0;max-width:96%;padding:13px 10px 10px;text-align:center}
.wp-caption.alignnone{margin:5px 20px 20px 0}
.wp-caption.alignleft{margin:5px 20px 20px 0}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}
.wp-caption p.wp-caption-text{font-size:12px;line-height:1.5em;margin:0;padding:10px}
img.wp-smiley{vertical-align:middle}
.gallery{margin:0 auto 18px}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;max-width:155px}
.gallery img{border:1px solid #ddd}
.gallery .gallery-caption{font-size:12px;margin:0 0 12px}
.gallery dl{margin:0}
.gallery br+br{display:none}
.attachment-gallery img{background:#fff;border:1px solid #f0f0f0;display:block;height:auto;margin:15px auto;max-width:96%;padding:5px;width:auto}
.gallery-meta .iso,.gallery-meta .camera,.gallery-meta .shutter,.gallery-meta .aperture,.gallery-meta .full-size,.gallery-meta .focal-length{display:block}
img.wp-post-image,img.attachment-full,img.attachment-large,img.attachment-medium,img.attachment-thumbnail{display:block;margin:15px auto;width:auto}
.bank-thumb img{max-width:200px}
.bank-content{width:60%;float:right}
a.button,input[type='reset'],input[type='button'],input[type='submit']{-moz-border-radius:2px;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;-webkit-border-radius:2px;background-color:#f9f9f9;background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#f1f1f1));background-image:-webkit-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:-moz-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:-ms-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:-o-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:linear-gradient(top,#f9f9f9,#f1f1f1);box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;border:1px solid #ddd;border-radius:2px;color:#333;cursor:pointer;display:inline-block;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9,endColorstr=#f1f1f1);font-size:14px;font-weight:700;line-height:20px;margin:0;padding:4px 10px;text-decoration:none;text-shadow:0 1px 0 #fff;vertical-align:middle;white-space:nowrap}
a.button:hover,input[type='reset']:hover,input[type='button']:hover,input[type='submit']:hover{-moz-box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));background-image:-webkit-linear-gradient(top,#fff,#f1f1f1);background-image:-moz-linear-gradient(top,#fff,#f1f1f1);background-image:-ms-linear-gradient(top,#fff,#f1f1f1);background-image:-o-linear-gradient(top,#fff,#f1f1f1);background-image:linear-gradient(top,#fff,#f1f1f1);border:1px solid #ddd;box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;color:#333;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f1f1f1)}
a.button:active,input[type='reset']:active,input[type='button']:active,input[type='submit']:active{-moz-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.1);background-color:#f9f9f9;background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#f1f1f1));background-image:-webkit-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:-moz-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:-ms-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:-o-linear-gradient(top,#f9f9f9,#f1f1f1);background-image:linear-gradient(top,#f9f9f9,#f1f1f1);box-shadow:0 1px 0 #ffffff,inset 0 1px 1px rgba(0,0,0,0.1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9,endColorstr=#f1f1f1)}
.call-to-action{text-align:center}
.call-to-action a.button{font-size:24px;padding:15px 35px}
.call-to-action a.button:hover{text-decoration:none}
.ie7 .call-to-action a.button{padding:11px 35px 19px}
.small a.button{font-size:10px;padding:3px 6px}
.medium a.button{font-size:16px;padding:8px 16px}
.large a.button{font-size:18px;padding:10px 35px}
.xlarge a.button{font-size:24px;padding:12px 55px}
a.blue{background-color:#1874cd;background-image:-webkit-gradient(linear,left top,left bottom,from(#4f9eea),to(#1874cd));background-image:-webkit-linear-gradient(top,#4f9eea,#1874cd);background-image:-moz-linear-gradient(top,#4f9eea,#1874cd);background-image:-ms-linear-gradient(top,#4f9eea,#1874cd);background-image:-o-linear-gradient(top,#4f9eea,#1874cd);background-image:linear-gradient(top,#4f9eea,#1874cd);border:1px solid #115290;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea,endColorstr=#1874cd);text-shadow:0 -1px 0 #115290}
a.blue:hover{background-color:#7db7f0;background-image:-webkit-gradient(linear,left top,left bottom,from(#7db7f0),to(#1874cd));background-image:-webkit-linear-gradient(top,#7db7f0,#1874cd);background-image:-moz-linear-gradient(top,#7db7f0,#1874cd);background-image:-ms-linear-gradient(top,#7db7f0,#1874cd);background-image:-o-linear-gradient(top,#7db7f0,#1874cd);background-image:linear-gradient(top,#7db7f0,#1874cd);border:1px solid #115290;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0,endColorstr=#1874cd);text-shadow:0 -1px 0 #115290}
a.red{background-color:#cd0000;background-image:-webkit-gradient(linear,left top,left bottom,from(#ff2323),to(#cd0000));background-image:-webkit-linear-gradient(top,#ff2323,#cd0000);background-image:-moz-linear-gradient(top,#ff2323,#cd0000);background-image:-ms-linear-gradient(top,#ff2323,#cd0000);background-image:-o-linear-gradient(top,#ff2323,#cd0000);background-image:linear-gradient(top,#ff2323,#cd0000);border:1px solid #890000;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323,endColorstr=#cd0000);text-shadow:0 -1px 0 #890000}
a.red:hover{background-color:#ff5656;background-image:-webkit-gradient(linear,left top,left bottom,from(#ff5656),to(#cd0000));background-image:-webkit-linear-gradient(top,#ff5656,#cd0000);background-image:-moz-linear-gradient(top,#ff5656,#cd0000);background-image:-ms-linear-gradient(top,#ff5656,#cd0000);background-image:-o-linear-gradient(top,#ff5656,#cd0000);background-image:linear-gradient(top,#ff5656,#cd0000);border:1px solid #890000;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656,endColorstr=#cd0000);text-shadow:0 -1px 0 #890000}
a.orange{background-color:#ff7f00;background-image:-webkit-gradient(linear,left top,left bottom,from(#fa5),to(#ff7f00));background-image:-webkit-linear-gradient(top,#fa5,#ff7f00);background-image:-moz-linear-gradient(top,#fa5,#ff7f00);background-image:-ms-linear-gradient(top,#fa5,#ff7f00);background-image:-o-linear-gradient(top,#fa5,#ff7f00);background-image:linear-gradient(top,#fa5,#ff7f00);border:1px solid #bb5d00;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaa55,endColorstr=#ff7f00);text-shadow:0 -1px 0 #bb5d00}
a.orange:hover{background-color:#ffc388;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffc388),to(#ff7f00));background-image:-webkit-linear-gradient(top,#ffc388,#ff7f00);background-image:-moz-linear-gradient(top,#ffc388,#ff7f00);background-image:-ms-linear-gradient(top,#ffc388,#ff7f00);background-image:-o-linear-gradient(top,#ffc388,#ff7f00);background-image:linear-gradient(top,#ffc388,#ff7f00);border:1px solid #bb5d00;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388,endColorstr=#ff7f00);text-shadow:0 -1px 0 #bb5d00}
a.yellow{background-color:#ecca06;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff2aa),to(#ffd700));background-image:-webkit-linear-gradient(top,#fff2aa,#ffd700);background-image:-moz-linear-gradient(top,#fff2aa,#ffd700);background-image:-ms-linear-gradient(top,#fff2aa,#ffd700);background-image:-o-linear-gradient(top,#fff2aa,#ffd700);background-image:linear-gradient(top,#fff2aa,#ffd700);border:1px solid #bb9e00;color:#161300;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa,endColorstr=#ffd700);text-shadow:0 1px 0 #fff}
a.yellow:hover{background-color:#fffadd;background-image:-webkit-gradient(linear,left top,left bottom,from(#fffadd),to(#ffd700));background-image:-webkit-linear-gradient(top,#fffadd,#ffd700);background-image:-moz-linear-gradient(top,#fffadd,#ffd700);background-image:-ms-linear-gradient(top,#fffadd,#ffd700);background-image:-o-linear-gradient(top,#fffadd,#ffd700);background-image:linear-gradient(top,#fffadd,#ffd700);border:1px solid #bb9e00;color:#161300;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd,endColorstr=#ffd700);text-shadow:0 1px 0 #fff}
a.green{background-color:#2e8b57;background-image:-webkit-gradient(linear,left top,left bottom,from(#4bc380),to(#2e8b57));background-image:-webkit-linear-gradient(top,#4bc380,#2e8b57);background-image:-moz-linear-gradient(top,#4bc380,#2e8b57);background-image:-ms-linear-gradient(top,#4bc380,#2e8b57);background-image:-o-linear-gradient(top,#4bc380,#2e8b57);background-image:linear-gradient(top,#4bc380,#2e8b57);border:1px solid #1d5837;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380,endColorstr=#2e8b57);text-shadow:0 -1px 0 #1d5837}
a.green:hover{background-color:#71d09b;background-image:-webkit-gradient(linear,left top,left bottom,from(#71d09b),to(#2e8b57));background-image:-webkit-linear-gradient(top,#71d09b,#2e8b57);background-image:-moz-linear-gradient(top,#71d09b,#2e8b57);background-image:-ms-linear-gradient(top,#71d09b,#2e8b57);background-image:-o-linear-gradient(top,#71d09b,#2e8b57);background-image:linear-gradient(top,#71d09b,#2e8b57);border:1px solid #1d5837;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b,endColorstr=#2e8b57);text-shadow:0 -1px 0 #1d5837}
a.olive{background-color:#838b83;background-image:-webkit-gradient(linear,left top,left bottom,from(#e0e000),to(#838b83));background-image:-webkit-linear-gradient(top,#afb4af,#838b83);background-image:-moz-linear-gradient(top,#afb4af,#838b83);background-image:-ms-linear-gradient(top,#afb4af,#838b83);background-image:-o-linear-gradient(top,#afb4af,#838b83);background-image:linear-gradient(top,#afb4af,#838b83);border:1px solid #626862;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af,endColorstr=#838b83);text-shadow:0 -1px 0 #626862}
a.olive:hover{background-color:#c9cdc9;background-image:-webkit-gradient(linear,left top,left bottom,from(#c9cdc9),to(#838b83));background-image:-webkit-linear-gradient(top,#c9cdc9,#838b83);background-image:-moz-linear-gradient(top,#c9cdc9,#838b83);background-image:-ms-linear-gradient(top,#c9cdc9,#838b83);background-image:-o-linear-gradient(top,#c9cdc9,#838b83);background-image:linear-gradient(top,#c9cdc9,#838b83);border:1px solid #626862;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9,endColorstr=#838b83);text-shadow:0 -1px 0 #626862}
a.purple{background-color:#5d478b;background-image:-webkit-gradient(linear,left top,left bottom,from(#8771b6),to(#5d478b));background-image:-webkit-linear-gradient(top,#8771b6,#5d478b);background-image:-moz-linear-gradient(top,#8771b6,#5d478b);background-image:-ms-linear-gradient(top,#8771b6,#5d478b);background-image:-o-linear-gradient(top,#8771b6,#5d478b);background-image:linear-gradient(top,#8771b6,#5d478b);border:1px solid #3f305e;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6,endColorstr=#5d478b);text-shadow:0 -1px 0 #3f305e}
a.purple:hover{background-color:#a492c8;background-image:-webkit-gradient(linear,left top,left bottom,from(#a492c8),to(#5d478b));background-image:-webkit-linear-gradient(top,#a492c8,#5d478b);background-image:-moz-linear-gradient(top,#a492c8,#5d478b);background-image:-ms-linear-gradient(top,#a492c8,#5d478b);background-image:-o-linear-gradient(top,#a492c8,#5d478b);background-image:linear-gradient(top,#a492c8,#5d478b);border:1px solid #3f305e;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8,endColorstr=#5d478b);text-shadow:0 -1px 0 #3f305e}
a.pink{background-color:#cd1076;background-image:-webkit-gradient(linear,left top,left bottom,from(#f042a0),to(#cd1076));background-image:-webkit-linear-gradient(top,#f042a0,#cd1076);background-image:-moz-linear-gradient(top,#f042a0,#cd1076);background-image:-ms-linear-gradient(top,#f042a0,#cd1076);background-image:-o-linear-gradient(top,#f042a0,#cd1076);background-image:linear-gradient(top,#f042a0,#cd1076);border:1px solid #8e0b52;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0,endColorstr=#cd1076);text-shadow:0 -1px 0 #8e0b52}
a.pink:hover{background-color:#f471b8;background-image:-webkit-gradient(linear,left top,left bottom,from(#f471b8),to(#cd1076));background-image:-webkit-linear-gradient(top,#f471b8,#cd1076);background-image:-moz-linear-gradient(top,#f471b8,#cd1076);background-image:-ms-linear-gradient(top,#f471b8,#cd1076);background-image:-o-linear-gradient(top,#f471b8,#cd1076);background-image:linear-gradient(top,#f471b8,#cd1076);border:1px solid #8e0b52;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8,endColorstr=#cd1076);text-shadow:0 -1px 0 #8e0b52}
a.brick{background-color:#b22222;background-image:-webkit-gradient(linear,left top,left bottom,from(#dd4c4c),to(#b22222));background-image:-webkit-linear-gradient(top,#dd4c4c,#b22222);background-image:-moz-linear-gradient(top,#dd4c4c,#b22222);background-image:-ms-linear-gradient(top,#dd4c4c,#b22222);background-image:-o-linear-gradient(top,#dd4c4c,#b22222);background-image:linear-gradient(top,#dd4c4c,#b22222);border:1px solid #791717;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c,endColorstr=#b22222);text-shadow:0 -1px 0 #791717}
a.brick:hover{background-color:#e57777;background-image:-webkit-gradient(linear,left top,left bottom,from(#e57777),to(#b22222));background-image:-webkit-linear-gradient(top,#e57777,#b22222);background-image:-moz-linear-gradient(top,#e57777,#b22222);background-image:-ms-linear-gradient(top,#e57777,#b22222);background-image:-o-linear-gradient(top,#e57777,#b22222);background-image:linear-gradient(top,#e57777,#b22222);border:1px solid #791717;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777,endColorstr=#b22222);text-shadow:0 -1px 0 #791717}
a.gold{background-color:#8b6508;background-image:-webkit-gradient(linear,left top,left bottom,from(#db9f0d),to(#8b6508));background-image:-webkit-linear-gradient(top,#db9f0d,#8b6508);background-image:-moz-linear-gradient(top,#db9f0d,#8b6508);background-image:-ms-linear-gradient(top,#db9f0d,#8b6508);background-image:-o-linear-gradient(top,#db9f0d,#8b6508);background-image:linear-gradient(top,#db9f0d,#8b6508);border:1px solid #6b4e06;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d,endColorstr=#8b6508);text-shadow:0 -1px 0 #6b4e06}
a.gold:hover{background-color:#f3b828;background-image:-webkit-gradient(linear,left top,left bottom,from(#f3b828),to(#8b6508));background-image:-webkit-linear-gradient(top,#f3b828,#8b6508);background-image:-moz-linear-gradient(top,#f3b828,#8b6508);background-image:-ms-linear-gradient(top,#f3b828,#8b6508);background-image:-o-linear-gradient(top,#f3b828,#8b6508);background-image:linear-gradient(top,#f3b828,#8b6508);border:1px solid #6b4e06;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828,endColorstr=#8b6508);text-shadow:0 -1px 0 #6b4e06}
a.brown{background-color:#8b4513;background-image:-webkit-gradient(linear,left top,left bottom,from(#d66a1d),to(#8b4513));background-image:-webkit-linear-gradient(top,#d66a1d,#8b4513);background-image:-moz-linear-gradient(top,#d66a1d,#8b4513);background-image:-ms-linear-gradient(top,#d66a1d,#8b4513);background-image:-o-linear-gradient(top,#d66a1d,#8b4513);background-image:linear-gradient(top,#d66a1d,#8b4513);border:1px solid #4f270b;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d,endColorstr=#8b4513);text-shadow:0 -1px 0 #4f270b}
a.brown:hover{background-color:#8b4513;background-image:-webkit-gradient(linear,left top,left bottom,from(#e58541),to(#8b4513));background-image:-webkit-linear-gradient(top,#e58541,#8b4513);background-image:-moz-linear-gradient(top,#e58541,#8b4513);background-image:-ms-linear-gradient(top,#e58541,#8b4513);background-image:-o-linear-gradient(top,#e58541,#8b4513);background-image:linear-gradient(top,#e58541,#8b4513);border:1px solid #4f270b;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541,endColorstr=#8b4513);text-shadow:0 -1px 0 #4f270b}
a.silver{background-color:silver;background-image:-webkit-gradient(linear,left top,left bottom,from(#eaeaea),to(silver));background-image:-webkit-linear-gradient(top,#eaeaea,silver);background-image:-moz-linear-gradient(top,#eaeaea,silver);background-image:-ms-linear-gradient(top,#eaeaea,silver);background-image:-o-linear-gradient(top,#eaeaea,silver);background-image:linear-gradient(top,#eaeaea,silver);border:1px solid #9e9e9e;color:#444;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea,endColorstr=#c0c0c0);text-shadow:0 1px 0 #fff}
a.silver:hover{background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(silver));background-image:-webkit-linear-gradient(top,#fff,silver);background-image:-moz-linear-gradient(top,#fff,silver);background-image:-ms-linear-gradient(top,#fff,silver);background-image:-o-linear-gradient(top,#fff,silver);background-image:linear-gradient(top,#fff,silver);border:1px solid #9e9e9e;color:#444;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#c0c0c0);text-shadow:0 1px 0 #fff}
a.gray{background-color:#696969;background-image:-webkit-gradient(linear,left top,left bottom,from(#939393),to(#696969));background-image:-webkit-linear-gradient(top,#939393,#696969);background-image:-moz-linear-gradient(top,#939393,#696969);background-image:-ms-linear-gradient(top,#939393,#696969);background-image:-o-linear-gradient(top,#939393,#696969);background-image:linear-gradient(top,#939393,#696969);border:1px solid #474747;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393,endColorstr=#696969);text-shadow:0 -1px 0 #474747}
a.gray:hover{background-color:#adadad;background-image:-webkit-gradient(linear,left top,left bottom,from(#adadad),to(#696969));background-image:-webkit-linear-gradient(top,#adadad,#696969);background-image:-moz-linear-gradient(top,#adadad,#696969);background-image:-ms-linear-gradient(top,#adadad,#696969);background-image:-o-linear-gradient(top,#adadad,#696969);background-image:linear-gradient(top,#adadad,#696969);border:1px solid #474747;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad,endColorstr=#696969);text-shadow:0 -1px 0 #474747}
a.black{background-color:#080808;background-image:-webkit-gradient(linear,left top,left bottom,from(#323232),to(#080808));background-image:-webkit-linear-gradient(top,#323232,#080808);background-image:-moz-linear-gradient(top,#323232,#080808);background-image:-ms-linear-gradient(top,#323232,#080808);background-image:-o-linear-gradient(top,#323232,#080808);background-image:linear-gradient(top,#323232,#080808);border:1px solid #000;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232,endColorstr=#080808);text-shadow:0 -1px 0 #000}
a.black:hover{background-color:#4c4c4c;background-image:-webkit-gradient(linear,left top,left bottom,from(#4c4c4c),to(#080808));background-image:-webkit-linear-gradient(top,#4c4c4c,#080808);background-image:-moz-linear-gradient(top,#4c4c4c,#080808);background-image:-ms-linear-gradient(top,#4c4c4c,#080808);background-image:-o-linear-gradient(top,#4c4c4c,#080808);background-image:linear-gradient(top,#4c4c4c,#080808);border:1px solid #000;color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c,endColorstr=#080808);text-shadow:0 -1px 0 #000}
.info-box{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;display:block;margin:20px 0;padding:15px;text-align:left}
.alert{background-color:#faebeb;border:1px solid #dc7070;color:#212121}
.address{background-color:#f6f5ef;border:1px solid #cdc9a5;color:#212121}
.notice{background-color:#fbf9e9;border:1px solid #e3cf57;color:#212121}
.success{background-color:#f9fde8;border:1px solid #a2bc13;color:#212121}
.download{background-color:#fff4e5;border:1px solid #ff9912;color:#212121}
.information{background-color:#eef3f6;border:1px solid #6ca6cd;color:#212121}
.required{color:#d5243f}
#breadcrumb{padding:40px 0 0}
#breadcrumb a{color:#06c;font-size:12px;font-weight:400}
#breadcrumb a:hover{color:#444;text-decoration:none}
#content-woocommerce{margin-top:40px;margin-bottom:20px}
.products ul,ul.products{margin-top:40px}
.cart-collaterals .shipping_calculator{width:100%}
table.shop_table{table-layout:fixed;-ms-word-break:break-all;word-break:break-all;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
@media screen and (max-width:767px) {
	table.shop_table{font-size:10px}
}
@media screen and (max-width:400px) {
	table.shop_table{font-size:8px}
}
table.cart td.actions .coupon .input-text,table.cart td.actions .coupon .input-text{cursor:text}
.icl_languages_selector{float:right;text-align:left}
.rtl .icl_languages_selector{float:left;text-align:right}
@media screen and (max-width: 650px) {
	.icl_languages_selector,.rtl .icl_languages_selector{float:none}
}
.widget_polylang li{display:inline;list-style-type:none}
#footer{font-size:11px;line-height:1.5em}
#footer a{color:#333;font-weight:400}
#footer a:hover{color:#444}
#footer-wrapper .grid.col-940{margin:0}
.scroll-top{text-align:left}
.copyright{text-align:left}
.footer-links{text-align:left}
.powered{text-align:right}
#footer_widget .col-300:nth-child(3n+3){margin-right:0}
#footer .social-icons{list-style:none;line-height:normal;padding:0;margin:0;text-align:right}
#footer .rss-icon,#footer .yelp-icon,#footer .vimeo-icon,#footer .youtube-icon,#footer .twitter-icon,#footer .facebook-icon,#footer .linkedin-icon,#footer .rss-feed-icon,#footer .instagram-icon,#footer .pinterest-icon,#footer .foursquare-icon,#footer .googleplus-icon,#footer .google-plus-icon,#footer .stumbleupon-icon,#footer .stumble-upon-icon{display:inline;margin:1px;padding-left:3px}
.left{float:left}
.right{float:right}
.center{text-align:center}
.clearfix:after,.clearfix:before,#container:after,#container:before,.widget-wrapper:after,.widget-wrapper:before{content:' ';display:table}
.clearfix:after,#container:after,.widget-wrapper:after{clear:both}
.ie7 .clearfix,.ie7 #container,.ie7 .widget-wrapper{zoom:1}
.clear{clear:both}
BDO[DIR="ltr"]{direction:ltr;unicode-bidi:bidi-override}
BDO[DIR="rtl"]{direction:rtl;unicode-bidi:bidi-override}
[DIR="ltr"]{direction:ltr;unicode-bidi:embed}
[DIR="rtl"]{direction:rtl;unicode-bidi:embed}
@media print {
	h1,h2,h3,h4,h5,h6{page-break-after:avoid}
	ul,ol,dl{page-break-before:avoid}
}
.product-info{width:100%;margin-top:30px}
.clearfix{float:none;clear:both}
.seo_content{text-align:justify}
.seo_content ul{list-style-position:inside;list-style-type:disc;margin:10px;padding:5px}
.seo_content > ul > li{margin-bottom:7px;list-style:none;background:url(/wp-content/uploads/icons/money_yellow.png) no-repeat 0 2px;padding-left:30px}
.seo_content ol{list-style-position:outside;list-style-type:decimal;margin:10px;padding:5px}
.seo_content > ul.money_spis > li{margin-bottom:10px;list-style:none;background:url(/wp-content/uploads/icons/money_red.png) no-repeat 0 4px;padding-left:50px}
.bold{font-weight:700}
.seo_content > ol{margin-bottom:10px;padding-left:35px}
div#text-3 > div.textwidget > div.seo_content{font-size:1.4em}
div#text-3 > div.textwidget > div.seo_content > ul > li{background:none;list-style-type:disc;list-style-position:inside}
#wp_uci_widget{padding:0}
#wp_uci_widget hr{margin:22px 0 0!important;background-color:#bebebe}
#wp_uci_widget h2{margin-left:15px}
#wp_uci_widget > span{display:block;margin-top:-7px;margin-bottom:10px;font-size:16px;color:#e8a670;font-weight:700;margin-left:15px}
#uci_table{border:none}
#uci_table tr{border:none}
#uci_table tr td{border:none;padding:6px}
#uci_table tr td:first-child{padding-left:12px}
#uci_table tr:nth-child(even){background-color:#FFF;border-left:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7}
#home_widget_1 .textwidget{background-color:transparent}
#home_widget_1 p{margin:0 0 5px}
#home_widget_1 p.bank-title{display:block;float:left;font-size:13px;font-weight:700;color:#544f4f;padding-left:10px}
#home_widget_1 p.bank-actives{display:block;float:right;font-size:13px;font-weight:700;color:#544f4f;padding-right:10px}
#home_widget_1 hr{margin:10px 0 0!important;background-color:#bebebe}
#home_widget_1 h2{margin-left:10px}
#home_widget_1 table{border:none;margin:0}
#home_widget_1 table tr{border:none}
#home_widget_1 table tr td{border:none;padding:6px}
#home_widget_1 table tr td:first-child{padding-left:12px}
#home_widget_1 table tr:nth-child(even){background-color:#FFF;border-left:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7}
#wpcc_widget-2{margin-top:20px}
#wpcc_widget-2 h2{text-align:center}
#nav_menu-11{padding-bottom:4px}
#nav_menu-11 h2{font-size:1.5em!important}
.bank-thumb{float:left;margin-right:20px}
.single .category-banki p{margin:0}
#rt_tabs li{margin-top:15px;display:inline-block;margin-right:10px}
#rt_tabs li a{padding:5px 15px;color:#000;border-bottom:2px solid #455fac}
#rt_tabs li a:hover{background:#d9d9d9}
#rt_tabs li.ui-state-active a{background:#455fac;color:#fff}
#rt_tabs table .title{font-weight:700;padding-right:15px}
.crfp-average-rating .crfp-rating{margin-right:10px;margin-top:2px}
.bank-list-item{padding:20px 0;border-bottom:1px solid #d2d2d2}
.h3{font-weight:700;font-size:1.875em;margin-bottom:.857em;margin-top:.857em}
.h6{font-weight:700;font-size:1em;margin-bottom:1.285em;margin-top:1.285em}
table.credit_param{margin-bottom:0!important}
.product-info .credit_image img{margin-bottom:0}
.product-info{margin:15px 0!important}
.product-info .crfp-average-rating{margin-left:10px}
.simplePagerNav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.simplePagerNav li
{
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.currentPage a
{
	color: black;
}
/*SEO Table*/
.price_table h3, .price_table h2, .price_table .h3, .price_table .h2{margin:0px;}
.price_table td:first-child{text-align:center;width: 1.2em;}
.price_table tr td{text-align:center;}
.price_table {	margin:0px;padding:0px;width:100%;box-shadow:10px 10px 5px #888888;border:1px solid #000000;margin-bottom:40px;-moz-border-radius-bottomleft:0px;	-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;border-bottom-right-radius:0px;-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;border-top-right-radius:0px;-moz-border-radius-topleft:0px;	-webkit-border-top-left-radius:0px;border-top-left-radius:0px;}
.price_table table{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.price_table tr:last-child td:last-child {-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;border-bottom-right-radius:0px;}
.price_table table tr:first-child td:first-child {-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;}
.price_table table tr:first-child td:last-child {-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;border-top-right-radius:0px;}
.price_table tr:last-child td:first-child{	-moz-border-radius-bottomleft:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;}
.price_table tr:hover td{	background-color:#a2a1a1;}
.price_table td{vertical-align:middle;background-color:#efefef;border:1px solid #000000;border-width:0px 1px 1px 0px;text-align:left;padding:6px;font-size:14px;font-family:Arial;font-weight:normal;color:#000000;}
.price_table tr:last-child td{border-width:0px 1px 0px 0px;}
.price_table tr td:last-child{border-width:0px 0px 1px 0px;text-align:center;}.price_table tr:last-child td:last-child{	border-width:0px 0px 0px 0px;}
.price_table tr:first-child td{background:-o-linear-gradient(bottom, #666666 5%, #191919 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #191919) );background:-moz-linear-gradient( center top, #666666 5%, #191919 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#191919");	background: -o-linear-gradient(top,#666666,191919);background-color:#666666;border:0px solid #000000;text-align:center;border-width:0px 0px 1px 1px;font-size:14px;font-family:Arial;font-weight:bold;color:#ffffff;}
.price_table tr:first-child:hover td{background:-o-linear-gradient(bottom, #666666 5%, #191919 100%);background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #191919) );background:-moz-linear-gradient( center top, #666666 5%, #191919 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#191919");background:-o-linear-gradient(top,#666666,191919);background-color:#666666;}
.price_table tr:first-child td:first-child{border-width:0px 0px 1px 0px;}
.price_table tr:first-child td:last-child{	border-width:0px 0px 1px 1px;}
/*SEO Table*/