.tab-options {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

.option-header {
    font-size: 17px;
}

.tab-options input:not([type="checkbox"]) {
    width: 100%;
}

.option-wrapper {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}
.phone-opt {
    font-size: 13px;
    line-height: 1.5;
    margin: 1em 0;
}

.phone-opt input {
    width: 100%;
    margin-bottom: 10px;
}

#rt_tabs li {
    margin-top: 15px;
    display: inline-block;
    margin-right: 10px;
}

#rt_tabs li a {
    padding: 5px 15px;
    color: #000;
    border-bottom: 2px solid #455fac;
}

#rt_tabs li a:hover {
    background: #d9d9d9;
}

#rt_tabs li.ui-state-active a {
    background: #455fac;
    color: #fff;
}