/*
	Тизеры
*/
.teasers {
	padding:5px;
	background:#eee;
}

.teaser {
	margin-top:5px;
	margin-bottom:5px;
}

.teaser-header{
	font-weight:bold;
	margin-bottom:5px;
}
.order-online {
	border-radius:3px;
	background:#F89406;
	border:none;
	border-bottom:3px solid #D91E18;
	color:#fff;
	cursor:pointer;
	margin-top:5px;
}

.post-data {
		display:none !important;
	}
	
	/* Медиазапросы для формы */
	.SumoSelect > .CaptionCont, .SumoSelect {
		width:100% !important;
	}
	
	.SumoSelect .optWrapper {
		margin-top:13px;
	}
	
	.SumoSelect {
		margin:0;
		height:40px;
	}
	
	.post-form select,.post-form input[type="text"] {
		width:100%;
		height:32px;
	}
	
	.post-form {
		
	}
	
	.post-form form, .post-form form input, .post-form form select { 
		margin:0;
		padding:0;
	}
	
	.post-form input[type="submit"] {
			margin-top:10px;
			margin-bottom:20px;
			padding:5px;
	}
	.form-post {
		margin-top:20px;
	}

	@media (min-width:992px){
		.post-form input[type="submit"] {
			margin-top:28px;
		}
		.form-post {
			margin-top:20px;
		}
	}
	
	/* Вкладки инфополей */
	.extf-title {
		padding:6px;
		border-radius:3px;
		border:1px solid #ddd;
		cursor: pointer;
		display:block;
		float:left;
		margin-right:5px;
		margin-top:5px;
	}

	
	.bank-info {
		width:100%;
		border:none;
	}
	.bank-info td {
		border:none;
		padding:3px;
	}
	
	
	.widget-bank {
		background:url('/wp-content/themes/responsive/core/images/bank.png') left top no-repeat;
		background-size:24px 24px;
		height:24px;
		
	}
	
	.widget-card {
		background:url('/wp-content/themes/responsive/core/images/card.png') left top no-repeat;
		background-size:24px 24px;
		height:24px;
		
	}
	
	.widget-spec {
		background:url('/wp-content/themes/responsive/core/images/spec.png') left top no-repeat;
		background-size:24px 24px;
		height:24px;
		
	}