.cz-calculator-result {
	font-weight: 700;
}

.cz-calculator-row {
	margin-top: 20px;
}

.cz-calculator-submit-row{
	margin-top: 25px;
}

.cz-widget-wrapper {
	background-color: transparent;
	border: none;
}

.cz-multi-select option {
	display: none;
}

.cz-multi-select select[multiple], select[size] {
	height: 30px;
}

.geoip {
	cursor: pointer;
}

.no-break-word {
	white-space: nowrap;
}

#container {
	padding-top: 14px;
}

.header-cities-select #cities {
	float: right;
}

.header-cities-select {
	margin-right: 5px;
	margin-bottom: 5px;
}

.product-param-cell {
	padding: 0.5em 0 0.8em 0.8em;
}

.review-link-mobile {
	display: none;
}
/*----------------------Main page------------------------------*/
.cp-main-wrapper {
	/*display: inline-block;
	width: 32%;
	vertical-align: top;*/
	margin-top: 11px;
	margin-bottom: 21px;
}

.cp-main-link {
	padding-bottom: 20px;
	height: 63px;
}

.cp-main-wrapper img {
	width: 48px;
	height: 48px;
}

.cp-main-wrapper a {
	color: #4f4f4f;
	font-size: 20px;
	font-weight: 700;
}

.cp-main-link-bottom {
	display: none;
}

.banks-actives-widget {
	text-align: left;
}

.banks-actives-header {
	border-bottom: 1px solid #bebebe;
	padding-bottom: 5px;
}

.bank-title, .bank-actives {
	float: left;
	font-size: 13px;
	font-weight: 700;
	color: #544f4f;
}

.bank-title {
	padding-left: 10px;
	float: left;
}

.bank-actives {
	float: right;
	padding-right: 10px;
}

.bank-actives-wrapper{
	text-align: center;
}

.bank-actives-wrapper div:not(.clear){
	padding: 6px;
}

.bank-actives-wrapper:nth-child(even) {
	background-color: #FFF;
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.bank-actives-couter, .bank-actives-title, .bank-actives-total {
	float: left;
	box-sizing: border-box;
	padding: 6px;
}

.bank-actives-couter {
	width: 15%;
	padding-left: 12px;
}

.bank-actives-title {
	width: 52%;
}

.bank-actives-total {
	width: 33%;
	text-align: right;
}

.mobile-pagination {
	display: none;
}

.desktop-pagination {
	display: block;
}

.footer-contact-link {
	text-align: right;
}

.cp-post-header {
	margin-top: 15px;
	margin-bottom: 15px;
}

.cp-post-header img {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: -5px;
}

.cp-post-header h1 {
	display: inline;
}

.cp-post-header h1 {
	margin: 0;
}

.cp-bank-wrapper {
	margin-bottom: 40px;
}

.cp-bank-item {
	margin-bottom: 15px;
}

.cp-bank-item-title {
	font-weight: bold;
}

.cp-content .form-post {
	margin-top: 0;
}

.buttom-header.col-700 {
	display: block;
	margin-top: 40px;
}
#content.cp-content, #widgets.cp-content {
	margin-top: 0;
}

.extf-title-wrapper {
	margin-bottom: 5px;
}

.alignnone {
	margin: 0 !important;
}

/*-----------------Стили формы поиска--------------------------*/
.form-sort {
	font-size: 14px;
	margin-top: 20px;
}

.form-sort-span {
	font-weight: bold;
	line-height: 30px;
}
.form-sort select	 {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	padding: 4px 8px;
	height: 30px;
	width: 205px;
	background: url('../img/icons/dropdown-icon.png') no-repeat right center #FFFFFF;
	box-shadow: none;
	border-radius: 4px !important;
}

.form-submit-button input[type="submit"], .form-submit-button input[type="submit"]:hover {
	background-image: linear-gradient(#424242 50%, #010101 50%);
	width: 140px;
	color: #FFFFFF;
	margin-top: 20px;
	font-weight: normal;
	height: 35px;
	text-transform: uppercase;
}

.form-top-part {
	background-color: #ececec;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	padding: 20px;
	font-size: 13px;
	font-weight: bold;
}

.form-top-part .bs-row {
	margin-bottom: 5px;
}

.form-top-part p {
	margin: 0;
}

.form-top-part input, .form-top-part select, .form-top-part .chosen-container-single .chosen-single, .form-top-part .SlectBox {
	border-radius: 4px !important;
}

.form-top-part .SumoSelect > .CaptionCont > label {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.form-top-part .chosen-container {
	font-size: 14px;
}

.form-top-part .form-checkbox {
	margin-top: 25px;
}

.form-top-part .form-checkbox input[type="checkbox"] {
	background-color: #FFFFFF;
}

.form-top-part input[type="text"] {
	width: 188px;
}

.form-top-part select {
	padding: 4px 8px;
}

.form-top-part .chosen-container-single .chosen-single {
	padding: 6px 8px;
}

.form-top-part select, .form-top-part .chosen-container-single .chosen-single {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	height: 30px;
	width: 188px;
	background: url('../img/icons/dropdown-icon.png') no-repeat right center #FFFFFF;
	box-shadow: none;
}

.form-top-part .SumoSelect > .optWrapper.open {
	top: 29px;
}

.form-top-part .SumoSelect:hover {
	cursor: pointer;
}

.form-top-part .chosen-container-single .chosen-single div b {
	display: none;
}

.form-top-part .SumoSelect > .CaptionCont > label {
	background: url('../img/icons/dropdown-icon.png') no-repeat right center #FFFFFF;
	cursor: pointer;
}

.form-top-part .SumoSelect > .CaptionCont > label > i {
	display: none;
}

.form-top-part .chosen-container-single .chosen-single span {
	line-height: 16px;
}

.form-top-part .SlectBox {
	padding: 4px 8px;
	height: 20px;
	width: 170px;
}

.form-top-part input[type="checkbox"] {
	display:none;
}
.form-top-part input[type="checkbox"] + label {
	padding-left: 20px;
	vertical-align:middle;
	background:url(../img/icons/checkbox-unchecked.png) left 3px no-repeat;
	cursor:pointer;
}
.form-top-part input[type="checkbox"]:checked + label {
	padding-left: 20px;
	background:url(../img/icons/checkbox-checked.png) left 3px no-repeat;
}
/*-------------END Стили формы поиска------------------------------*/
.sidebar-right-template .widget-wrapper {
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

.creditznatok-widgets {
	background-color: #ececec;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	padding: 0 20px;
}

.creditznatok-widgets  .widget-title div, .creditznatok-widgets  .widget-title-home h3 {
	padding: 0 0 5px;
}

.creditznatok-widgets .widget-wrapper {
	border-top: 1px dotted #bcbcbc;
	padding: 10px 0 ;
}

.creditznatok-widgets .simplePagerContainer, .creditznatok-widgets #bank-list {
	/*padding-left: 15px;*/
}

.creditznatok-widgets .widget-wrapper:first-child {
	/*padding-top: 0;*/
	border-top: none;
}

.creditznatok-widgets .widget-wrapper li {
	background: url('../img/icons/list-icon.png') no-repeat 0 8px;
	padding-left: 20px;
}
/*-----------------------------------------------*/

.table-div table tr:nth-child(odd) {
	background-color: #efefef;
}

.bs-row .extf-title-wrapper  {
	margin-left: 1%;
}

.bs-row .extf-title-wrapper:first-child  {
	margin-left: 0;
}

.extf-title-wrapper {
	background-color: #ececec;
	color:#000000;
	padding: 10px 15px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
	display: block;
	float: left;
}


.cp-tabs-count-4 .extf-title-wrapper {
	width: 24.25%;
	padding: 10px 0;
}

.cp-tabs-count-5 .extf-title-wrapper {
	width: 32.66%;
	padding: 10px 0;
}

.cp-tabs-count-5 .extf-wrapper-4 {
	margin-left: 0;
}

.extf-title, .extf-title:hover, .extf-title:active {
	border-bottom: 1px #000000 dotted;
	color: #000000;
}

.extf-title-active {
	background-color: #005caa;
	color:#FFFFFF;
}

.extf-title-active .extf-title,.extf-title-active .extf-title:hover,.extf-title-active .extf-title:active {
	background-color: #005caa;
	color:#FFFFFF;
	/*font-weight: bold;*/
	border-bottom: none;
}

.extf-title:hover {
	/*background:#eee;*/
}

.seo_content, .seo_content h2 {
	font-size: 12px;
}
/*----------------------------------------------------*/
.mfo-image {
	float: left;
	width: 35%;
	margin-right: 5%;
}

.mfo-image img {
	max-width: 200px;
	display: block;
	margin: 15px auto;
}

.mfo-info {
	float: left;
	width: 60%;
}

.cp-meta-wrapper {
	margin-top: 5px;
	margin-bottom: 5px;
}

.seo_groups_child_wrapper {
	font-size: 16px;
}

.seo_groups_child_content {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	line-height: 35px;
	white-space: nowrap;
}

.current_seo_groups_child {
	color: red;
}

.mfo-link {
	float: right;
}

form.form-post {
	margin: 0;
}

.form-sort select {
	margin-left: 10px;
}

/*--------------top geoip-----------------*/
a.geoip {
	color: #06C;
	border-bottom: 1px dashed #06C;
}

a.geoip:hover {
	color: #06C;
	border: none;
	text-decoration: none;
}

a.geoip:visited {
	color: #06C;
	border: none;
	text-decoration: none;
}

a.geoip:active {
	color: #06C;
	border: none;
	text-decoration: none;
}

.desktop-widgets {
		display: block;
 }

.mobile-widgets {
	display: none;
}

.widget-mobile-wrapper {
	padding: 5px 0;
}

.mobile-ul-widgets-hide {
	display: none
}

.mobile-ul-widgets-show {
	display: block;
}

.mobile-widgets .widget-title div {
	text-align: center;
	color: #ffffff;
	padding: 10px;
	background: url('../img/icons/dropdown-icon.png') no-repeat left 15px center #005caa;
	border-radius: 5px;
}

.mobile-title-border {
	 border-bottom: 1px dotted #ffffff;
}

.mobile-widgets {
	margin-top: 5px;
}

.mobile-widgets ul {
	margin: 0;
}

.mobile-widgets-content {
	padding: 5px 0 0 10px;
}

.widget_uci_exchange_widget {
	border: none;
	background: none;
}

#uci_table tr:nth-child(2n) {
	background-color: inherit;
	border-bottom: none;
	border-left: none;
}

#uci_table tr#uci_row:nth-child(2n+1) {
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
}

.review-link-desktop {
	float: left;
	margin-top: 10px;
}

.title-desktop, .review-link-desktop {
	display: block;
}

.title-product-mobile {
	display: none;
}

.mobile-description {
	display: none;
}

/*---------------Mobile version---------------------------*/
@media screen and (max-width: 740px) {

	.gawest .table-div table {
		margin: 0 !important;
	}

	.product-title-wrapper {
		/*display: flex;*/
		min-height: 65px;
	}

	.credit_image img.wp-post-image {
		margin: 0;
		max-width: 215px;
	}

	.review-link-desktop {
		display: none !important;
	}

	.title-product-mobile {
		display: block;
		position: relative;
		width: 68%;
	}

	.title-mobile {
		position: absolute;
		top:0;
		font-size: 17px;
	}

	.review-link-mobile {
		display: block;
		margin-top: 5px;
	}

	.product-info {
		margin: 30px 0!important;
	}

	.credit_image {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

	.mobile-description {
		display: none;
	}

	.mobile-description-value {
		white-space: nowrap;
	}

	.credit_image a {
		display: table-cell;
		vertical-align: middle;
	}

	.credit_param {
		float: none;
		width: 100%;
		margin: 0;
		clear: both;
	}

	.credit_param td {
		padding-left: 0;
	}

	.credit_apply_button {
		box-sizing: border-box;
		float: none;
		width: 100%;
		margin: 0;
		background-color: #005caa;
	}

	.sort-input {
		float: none;
		clear: both;
	}

	.form-sort .sort-input select {
		margin-left: 0;
		width: 100%;
	}

	.form-submit-button input[type="submit"], .form-submit-button input[type="submit"]:hover {
		width: 100%;
		border-radius: 5px;
	}

	.form-sort {
		margin-top: 10px;
	}

	.cp-content {
		display: inline-block;
		width: 100%;
		margin: 0;
	}

	.desktop-widgets {
		display: none;
	}

	.mobile-widgets {
		display: block;
	}

	/*---catalog----------------------------*/
	.form-top-part input[type=text], .form-top-part select {
		width: 100%;
	}

	.buttom-header.col-700 {
		width: 100%;
	}
	/*----end catalog------------------------*/

	/*------------------product----------------------*/
	.SumoSelect, .form-top-part .SlectBox {
		width: 100%;
	}

	.form-top-part .SlectBox {
		padding-right: 0;
		padding-left: 0;
	}

	.SumoSelect .SlectBox span {
		padding-left: 8px;
	}
	/*----------------end product------------------------*/
	/*------------banks-------------------*/
	#bank-info table {
		table-layout: fixed;
		width: 100%;
	}

	#bank-info table td {
		word-break: break-word;
	}
	/*
		#respond label {
			float: right;
			width: 100%;
			position: relative;
			top: -52px;
		}*/

	#bank-review input, #bank-review textarea, #recaptcha-submit-btn-area input {
		width: 100%;
	}

	.comment-body p {
		font-style: italic;
	}

	.reply {
		display: none;
	}

	.comment-author {
		display: inline;
		font-weight: bold;
	}

	.comment-author .rating {
		display: none !important;
	}

	#rt_tabs .commentlist li a {
		border: none;
		padding: 0;
		font-size: 14px;
	}

	.comment-body .comment-meta a {
		font-size: 14px;
		color: #444;
	}

	.commentlist {
		border-bottom: none;
	}

	.commentlist li {
		border-radius: 5px;
		margin-top: 15px;
	}

	.commentlist li:first-child {
		margin-top: 0;
	}

	#rt_tabs .commentlist li:first-child {
		margin-top: 0;
		/*border-top: 1px solid #ddd;*/
	}

	#rt_tabs .commentlist li {
		margin-right: 0;
		width: 100%;
	}

	.commentlist li {
		background-color: #efefef;
	}

	#bank-review #comments, #bank-review .navigation {
		display: none;
	}

	.bank-thumb {
		width: 40%;
		margin-right: 5%;
	}

	.bank-thumb img.wp-post-image {
		width: 100%;
	}

	.bank-content {
		width: 58%;
	}

	#bank-rekvizit table, #bank-info table{
		margin-top: 0;
	}

	#rt_tabs ul.cp-tabs {
		margin: 0 0 10px 0;
		font-size: 0;
	}

	#rt_tabs .cp-tabs li.ui-state-active {
		background-color: #efefef;
	}

	#rt_tabs .cp-tabs li.ui-state-active a, #rt_tabs .cp-tabs li.ui-state-active a:active, #rt_tabs .cp-tabs li.ui-state-active a:hover{
		color: #000000;
		background: none;
	}

	#rt_tabs .cp-tabs li.ui-state-active a span	{
		border-bottom: 1px dotted #000000;
	}

	#rt_tabs .cp-tabs li a span {
		border-bottom: 1px dotted #FFFFFF;
	}

	#rt_tabs .cp-tabs li a, #rt_tabs .cp-tabs li a:active, #rt_tabs .cp-tabs li a:hover {
		background: none;
		width: 100%;
		color: #FFFFFF;
		padding: 0;
		display: inline-block;
		border: none;
		line-height: 42px;
	}

	#rt_tabs .cp-tabs li{
		font-size: 14px;
		padding: 0;
		background-color: #005caa;
		border-top-right-radius:  5px;
		border-top-left-radius:  5px;
		width: 32.66%;
		margin: 0 0 0 1%;
		text-align: center;
	}

	#rt_tabs .cp-tabs li:first-child {
		margin-left: 0;
	}

	.bank-list-item {
		display: flex;
	}

	.bank-list-item .bank-second-column {
		position: relative;
	}

	.bank-actives-summ-total {
		position: absolute;
		bottom: 0;
	}
	/*--------------end banks-------------*/

	/*------------page navi-----------------*/
	.mobile-pagination {
		display: block;
		text-align: center;
	}

	.mobile-pagination a.page-numbers {
		background-color: #005caa;
		color: #FFFFFF;
	}
	.mobile-pagination a, span.current {
		padding: 10px;
		border-radius: 5px;
		width: 20px;
		height: 20px;
		display: inline-block;
	}

	.mobile-pagination span {
		padding: 10px;
		border-radius: 5px;
		display: inline-block;
	}

	.mobile-pagination span {
		background-color: #efefef;
		color: #000000;
	}

	.desktop-pagination {
		display: none;
	}
	/*------------end page navi-------------*/

	#featured {
		padding-bottom: 0;
	}

	.front-page #widgets {
		margin-top: 0;
	}

	.bank-title {
		margin-left: 15%;
		width: 52%;
		padding: 6px;
	}

	.bank-actives, .bank-title {
		box-sizing: border-box;
	}

	.bank-actives {
		width: 33%;
		padding: 6px;
		float: left;
	}

	.banks-actives-header {
		padding-bottom: 0;
		background-color: #efefef;
		border: none;
	}

	.bank-actives-wrapper:nth-child(even) {
		background-color: #efefef;
		border-left: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
	}

	#widget-title-one h2 {
		text-align: center;
	}

	#wp_uci_widget > span {
		margin-top: 9px;
		float: left;
		margin-left: 5px;
	}

	.wp_uci_widget_display #widget-title-two {
		float: left;
	}

	#home_widget_1 table tr:nth-child(even), #uci_table tr:nth-child(even) {
		background-color: #efefef;
		border-left: 1px solid #e7e7e7;
		border-bottom: 1px solid #e7e7e7;
	}

	body {
		background-color: #FFFFFF;
	}

	#header {
		background-color: #efefef;
	}

	div#text-3 > div.textwidget > div.seo_content {
		text-align: left;
		font-size: 13px;
	}

	#featured {
		border: none;
	}

	.js .main-nav a#responsive_menu_button, .js .main-nav a#responsive_menu_button.responsive-toggle-open {
		background: url('../img/icons/mobile-menu.png') no-repeat 0;
		background-size: auto;
		height: 128px;
		width: 120px;
		left: auto;
		right: 0;
		/*margin-left: 0;*/
	}

	#header .header-quote {
		border-right: none;
		border-left: none;
	}

	.header-quote span {
		border-left: 1px solid #565656;
		display: block;
		padding-left: 15px;
	}

	.js .main-nav #responsive_current_menu_item {
		display: none !important;
	}

	.cp-main-link {
		display: none;
	}

	.cp-main-link-bottom {
		display: inline-block;
		width: 70%;
		vertical-align: middle;
		text-align: left;
	}

	.cp-main-img {
		display: inline-block;
		width: 50px;
	}

	.main {
		margin-top: 0;
		padding: 0 20px;
		text-align: left;
	}

	.cp-main-wrapper {
		height: 55px;
		width: 100%;
		display: inline-block;
		float: none;
		border: 1px solid #f9f9f9;
		padding: 10px 0;
		text-align: center;
	}

	.header-clear {
		clear: both;
	}

	.header-cities-select #cities {
		float: none;
		display: inline;
		text-align: center;
	}

	.header-cities-select {
		margin-right: 0;
		margin-bottom: 0;
		padding: 10px 0;
		background-color: #d8d8d8;
	}

	.js .main-nav .menu {
		width: 300px;
		top: 128px;
		left: -302px;
		right: 0;
	}

	.js .main-nav {
		position: absolute;
		top: 0;
		right: 0;
	}

	#container {
		padding: 0;
	}

	#wrapper {
		padding: 0 10px;
	}

	.front-page #wrapper {
		padding: 0;
		margin-top: 0;
	}

	#wrapper {
		border: none;
	}

	.bank-list-item {
		border: none;
	}

	.home #wrapper, #footer {
		padding: 0;
	}

	#logo, .header-quote, .main-nav {
		float: left !important;
	}

	#logo, .header-quote {
		width: 35%;
		height: 128px;
		display: table;
	}

	#logo a, .header-quote .header-quote-inner {
		display: table-cell;
		vertical-align: middle;
	}

	#logo {
		padding-right: 2%;
	}

	.header-quote {
		margin: 0 !important;
		padding: 0 !important;
	}

	.main-nav {
		max-width: 20%;
	}

	#footer-wrapper hr {
		display: none;
	}

	.footer-link-wrapper {
		display: none;
	}

	#footer .footer-contact-link {
		text-align: center;
		line-height: 50px;
		background-color: #efefef;
	}

	.front-page #wrapper {
		/*margin-bottom: 0;*/
	}

	#footer .footer-contact-link a, #footer .footer-contact-link a:hover {
		font-size: 16px;
		font-weight: bold;
		color: #005caa;
		text-decoration: underline;
	}

	.colophon-widget {
		font-size: 13px;
		border: none;
		margin: 0;
	}

	.widget-wrapper {
		border: none;
	}

	div#text-3 > div.textwidget > div.seo_content > ul > li {
		list-style-type: none;
	}

	.seo_content > ul > li {
		/*padding-left: 0;*/
	}

}

@media screen and (max-width: 450px) {

	/*------------banks-------------------*/
	.bank-thumb {
		width: auto;
		margin-right: 0;
	}

	.bank-thumb img.wp-post-image {
		width: auto;
	}

	.bank-thumb {
		float: none;
		margin-right: 0;
	}

	.bank-content {
		width: 100%;
		text-align: center;
		float: none;
		margin-bottom: 20px;
	}

	.bank-list-item {
		text-align: center;
	}

	.bank-list-item .bank-thumb {
		width: 100%;
	}

	.bank-list-item {
		display: inherit;
	}

	.bank-list-item .bank-second-column {
		position: inherit;
	}

	.bank-actives-summ-total {
		position: inherit;
		bottom: inherit;
	}
	/*--------------end banks-------------*/

	.header-quote {
		display: none;
	}

	#logo {
		width: 50%;
		padding-left: 2%;
	}

	.cp-main-wrapper {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.cp-main-link-bottom {
		width: 100%;
		text-align: center;
	}

	.cp-main-wrapper a {
		font-size: 15px;
	}

	.mfo-image img {
		height: auto;
		max-width: 175px;
	}

	.mfo-image {
		width: 175px;
		margin-right: 10px;
	}

	.mfo-info {
		width: 35%;
	}

}

@media screen and (max-width: 375px) {

	/*--------------recaptcha mobile fix-------------------------*/
	#rc-imageselect, .g-recaptcha {
		transform: scale(0.77);
		-webkit-transform: scale(0.77);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}

	.cp-main-wrapper{
		height: 80px;
	}
}
/*--------------------------------------------------------*/